.md .article-footer
  margin-top: 4rem
  padding: 1rem
  background: var(--block)
  border-radius: $border-block
  border: 1px solid var(--block-border)
  .header
    font-weight: 500
    color: var(--text-p2)
    font-size: $fs-h4
  .body
    input.copy-area
      margin: 0.75rem 0
      padding: 0
      width: 100%
    p
      color: var(--text-p2)
      margin: 0.5em 0
      a
        font-weight: unset
    ul
      margin: 0
      overflow: hidden
      a:hover
        text-decoration: underline
    .post-title
      margin: 0.5rem 0
      line-height: 1.2
      word-break: break-all
  section+section
    margin-top: 1rem
    padding-top: 1rem
    border-top: 1px solid var(--block-border)

.md .article-footer .social-wrap
  grid-gap: 0.5rem 1.5rem
  grid-template-columns: repeat(auto-fill, 24px)
  margin: 1rem 0
  a.social
    padding: 0
    background: none
    &:hover
      box-shadow: none

.md .article-footer .qrcode
  margin: 2rem auto 1rem
  width: 128px
  padding: 4px
  background: white
  border-radius: 4px
  img
    object-fit: contain

.md .article-footer .qrcode.display
  display: block !important
