.nav-wrap
  position: sticky
  position: -webkit-sticky
  margin-top: 1.75rem
  top: -2px
  background: var(--site-bg)
  padding: 0.5rem 1rem 0.38rem
  z-index: 1

nav.cap
  display: flex
  overflow: scroll
  scrollbar(0, 0)
  >p
    margin: 0
  a
    padding: 0.5rem 0.75rem
    margin-left: 0.25rem
    color: var(--text-p3)
    border-radius: 4px
    font-weight: 500
    white-space: nowrap
    trans1 background
    &.active, &:hover
      background: var(--block-hover)
      color: var(--text-p1)


@media screen and (max-width: $device-tablet)
  .nav-wrap
    margin-top: 0
