.paginator-wrap
  margin: 1rem
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 1rem
  font-weight: 700
  background: var(--card)
  border-radius: $border-card
  overflow: hidden
  box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.03)
  &:hover
  .paginator
    text-align: center
    &.next
      border-left: 1px dashed var(--block-border)
    &.prev
      border-right: 1px dashed var(--block-border)
  .current
    font-family: $ff-code
    color: var(--text-p3)
  a.paginator
    color: var(--text-p3)
    padding: 1rem
    line-height: 0
    filter: grayscale(100%)
    img
      height: 1rem
    &.disable
      pointer-events: none
      opacity: 0.25
  a.paginator:hover
    filter: unset
