.related-wrap#read-next
  .body
    .post-title
      margin: 0.5rem 0
      line-height: 1.2
      a
        color: inherit
        &:hover
          color: $color-hover
      &.read
        color: var(--text-p3)
        font-size: $fs14
        font-weight: 500
      &.unread
        color: var(--text-p1)
        font-size: 1.75rem
        font-weight: 400
        @media screen and (max-width: $device-mobile)
          font-size: 1.5rem
