.read-next-wrap
  padding: $gap * 2 $gap
  .body
    .post-title
      margin: 0.5rem 0
      line-height: 1.2
      font-size: $fs14
      color: var(--text-p2)
      font-weight: 500
      a
        color: inherit
        &:hover
          color: $color-hover
      &.read
        color: var(--text-p3)
        font-size: $fs12
      &.unread
        font-size: 1rem
