.related-wrap#read-next
  .body
    .post-title
      margin: 0.5rem 0
      line-height: 1.2
      a
        color: inherit
        &:hover
          color: $color-hover
      &.fs14
        color: var(--text-p3)
        font-weight: 500
      &.h2
        color: var(--text-p1)
