.references-wrap
  margin: $gap * 2 $gap
  padding: 1rem
  background: var(--block)
  border-radius: $border-block
  .header
    font-weight: 500
    color: var(--text-p3)
    margin-bottom: 1rem
  .body
    ul
      margin: 0
    .post-title
      margin: 0.5rem 0
      line-height: 1.2
      font-size: $fs13
