<%
function layoutDiv() {
  var el = ''
  el += '<div id="waline_container" class="waline_thread"'
  const cfg = theme.comments['waline_v3']
  var attrs = {}
  if (page.comment_id) {
    attrs['comment_id'] = page.comment_id
  }
  // 参数在这里进行传递
  attrs.serverURL = cfg?.serverURL
  
  for (let key of Object.keys(attrs)) {
    if (attrs[key]) {
      el += ' ' + key + '="' + attrs[key] + '"'
    }
  }
  el += `>${icon('default:loading')}</div>`
  return el
}
%>

<%- layoutDiv() %>
