pre
  font-family: $ff-codeblock
  font-size: $fs-codeblock
  tab-size: 4
  -moz-tab-size: 4
  -o-tab-size: 4
  -webkit-tab-size: 4

a
  text-decoration: none
  color: var(--theme-link)
  &:hover
    color: $color-hover

.md-text p:not([class]) 
  text-align: convert(hexo-config('style.text-align'))

hr
  color: var(--text-meta)
  opacity: .1


img
  max-width: 100%


li
  font-size: 'calc(%s - 1px)' % var(--fsp)


ul,ol
  padding-left: 1.5rem


// table
table:not([class])
  border-collapse: collapse
  overflow: auto
  display: block
  margin: 1rem 0
  max-width: 100%
  vertical-align: text-top
  --fsp: $fsp2
  font-size: var(--fsp)
  th
    background: var(--block)
  td,th
    padding: 0.5em 1em
    border: 1px solid var(--block-hover)
    line-height: 1.5
  tr
    word-break: keep-all
    white-space:nowrap
    trans()
    &:hover
      background: var(--block)

*[ff=title]
  font-family: $ff-logo