blockquote
  display: block
  margin-left: 0
  margin-right: 0
  padding: 0.25rem 0.75rem
  background: var(--block)
  $bd-left = 4px
  border-left: $bd-left solid var(--text-meta)
  border-radius: $bd-left $border-card $border-card $bd-left
  color: var(--text-p2)