:root
  --blur-bg: alpha(white, .5)
if hexo-config('style.darkmode') == 'auto'
  @media (prefers-color-scheme: dark)
    :root
      --blur-bg: alpha(black, .5)
.blur
  background: var(--blur-bg)
  @supports ((-webkit-backdrop-filter:blur(12px)) or (backdrop-filter:blur(12px)))
    background: var(--blur-bg) !important
    backdrop-filter: saturate(200%) blur(12px)
    -webkit-backdrop-filter: saturate(200%) blur(12px)
  &:hover
    background: var(--card)
