.canonical-tip
  position: fixed
  display: flex
  text-align: center
  bottom: 4rem
  left: 50%
  transform: translateX(-50%)
  max-width: 90%
  color: var(--text)
  font-family: #fff8e1
  z-index: 9999999
  box-shadow: 0 2px 8px rgba(black, .1), 0 4px 16px rgba(black, .1), 0 8px 32px rgba(black, .1)
  .headline
    font-size: $fsh2
  a, button
    border-radius: 6px
    background: var(--bg-a100)
    display: block
    color: inherit
    padding: 1rem
    font-size: 1rem
  button
    padding: 0
    width: 3rem
    margin-left: 1px

.canonical-tip.unofficial
  background-color: hsl(5, 100%, 60%)
  color: white
  animation: breathe 3s ease-in-out infinite
  @keyframes breathe
    0%
      background-color: hsl(5, 100%, 60%)
    50%
      background-color: hsl(5, 100%, 30%)
    100%
      background-color: hsl(5, 100%, 60%)