.cap
  font-weight: 500
  font-size: $fs-13
  scrollbar-width: none
  color: var(--text-p2)
  &.blue
    color: darken($color-md-blue, 6)
  &.cyan
    color: darken($color-mac-cyan, 6)
  &.theme
    color: darken($color-theme, 5)
