*
  outline: none
html
  font-family: $ff-body
  font-size: $fs-root
body
  background: var(--site-bg)
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizelegibility
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
