.md-text a[data-md-link] > .md-link-icon,
.article-footer a[data-md-link] > .md-link-icon
  --ui-icon-size: 1.2em
  --ui-icon-opacity: 1
  color: var(--link)
  vertical-align: middle
  margin-bottom: .2em
  img
    height: 80%
    width: 80%
.md-text a[data-md-link] > .md-link-icon.is-broken,
.article-footer a[data-md-link] > .md-link-icon.is-broken
  color: $c-red
