.md-text a[data-md-link] > .md-link-icon
  --ui-icon-size: 1.2em
  --ui-icon-opacity: 1
  vertical-align: middle
  margin-bottom: .2em
  img
    border-radius: 100%
    corner-shape: round
.md-text a[data-md-link]:hover > .md-link-icon
  color: var(--link)