.mobile-only
  display: none
  @media screen and (max-width: $device-tablet)
    display: block !important

.float-panel
  position: sticky
  right: 0
  bottom: 2rem
  float: right
  z-index: 9
  display: flex
  border-radius: 2rem 0 0 2rem
  padding-right: 2rem
  padding: 4px
  overflow: hidden
  background: var(--block-hover)

.sidebar-toggle.mobile
  cursor: pointer
  color: var(--text-p2)
  background: white
  padding: 0.5rem
  margin-right: 1rem
  border-radius: 32px
  line-height: 1
  width: 2rem
  height: 2rem
  font-size: 13px
