h1,.h1
  font-size: var(--fsh2)
  font-weight: 700
  @media screen and (max-width: $device-mobile)
    font-size: var(--fsh2)
h2,.h2
  font-size: var(--fsh2)
  margin-top: 1.5em
h3,.h3
  font-size: var(--fsh3)
h4,.h4
  font-size: var(--fsh4)
h5
  font-size: 'calc(%s + 1px)' % var(--fs-content)
h6
  font-size: 'calc(%s + 0px)' % var(--fs-content)

// story 文章段落标题（h2）：居中 + 两侧 accent 斜杠装饰
// 专栏列表页专栏标题（.topic-title）与 story 文章 h2 共用
story-title()
  color: var(--text)
  line-height: 1.2
  text-align: center
  &:before,&:after
    content: ''
    display: inline-block
    width: 12px
    height: 1.2em
    background: $c-accent
    transform: skewX(-20deg)
    margin: 0 0.5em
    vertical-align: top
    position: relative

// 次级段落字号
.fs15
  --fs-content: $fs-15
  font-size: var(--fs-content)
.fs14
  --fs-content: $fs-14
  font-size: var(--fs-content)

.footnote
  --fs-content: $fs-13
  font-size: var(--fs-content)

.widgets
  .post-title
    margin: 0.75rem 0
    line-height: 1.2
    display: block
    txt-ellipsis()
    .cap
      margin-bottom: 2px
      opacity: 0.5
    a
      color: inherit
      font-weight: 500
      &:hover
        color: var(--accent)
