h1,.h1
  font-size: var(--fsh2)
  font-weight: 700
  @media screen and (max-width: $device-mobile)
    font-size: var(--fsh2)
h2,.h2
  font-size: var(--fsh2)
  margin-top: 1.5em
h3,.h3
  font-size: var(--fsh3)
h4,.h4
  font-size: var(--fsh4)
h5
  font-size: 'calc(%s + 1px)' % var(--fsp)
h6
  font-size: 'calc(%s + 0px)' % var(--fsp)

// 次级段落字号
.fs15
  --fsp: $fs-15
  font-size: var(--fsp)
.fs14
  --fsp: $fs-14
  font-size: var(--fsp)

.footnote
  --fsp: $fs-13
  font-size: var(--fsp)

.widgets
  .post-title
    margin: 0.75rem 0
    line-height: 1.2
    display: block
    txt-ellipsis()
    .cap
      margin-bottom: 2px
      opacity: 0.5
    a
      color: inherit
      font-weight: 500
      &:hover
        color: $color-hover
