<%
function layoutDiv() {
  var el = '';
  const cmt = page.cmt;
  if (cmt && cmt.service && (cmt.service.length > 0)) {
    const name = cmt.service;
    const body = cmt[name];
    el += '<div id="' + name + '"';
    for (let key of Object.keys(body)) {
      if (body[key] !== null) {
        el += ' ' + key + '="' + body[key] + '"';
      }
    }
    el += '></div>';
  }
  return el;
}
%>

<%- icon('default:loading') %>

<%- layoutDiv() %>
