.users-wrap .grid-box
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr))

.users-wrap .user-card
  .card-link
    color: var(--text-p1)
    font-size: 10px
    font-weight: 500
    display: flex
    justify-content: flex-start
    flex-direction: column
    align-items: center
    text-align: center
    line-height: 1.2
    border-radius: 4px
    overflow: hidden
    position: relative
    padding: 1rem 0.5rem
    .name
      max-width: 100%
      display: -webkit-box
      -webkit-box-orient: vertical
      overflow: hidden
      -webkit-line-clamp: 2
    img
      object-fit: cover
      display: block
      width: 48px
      height: 48px
      background: var(--card)
      border-radius: 64px
      margin: 0 0 0.5rem

// transform
.users-wrap .user-card .card-link
  >img
    floatable-trans()
  &:hover
    background: var(--block-hover)
    img
      transform: scale(1.2) rotate(8deg)
      box-shadow: $boxshadow-card-float
