.users-posts-wrap .grid-box
  display: grid
  grid-template-columns: 1fr
  grid-gap: 2px
  overflow: hidden
  border-radius: $border-card

.users-posts-wrap .user-post-card
  display: grid
  grid-template-columns: 1fr 2fr
  grid-gap: 16px
  font-weight: 500
  border-radius: 4px
  background: var(--block)
  padding: 1rem
  div,span
    line-height: 1.2
  .labels
    margin-top: 4px
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    pointer-events: none
    user-select: none
    .label
      color: white
      font-size: 12px
      padding: 2px 6px
      margin: 4px 2px 0 2px
      line-height: 1
      border-radius: 16px
  .avatar-box
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    padding: 1rem
  .card-link
    color: var(--text-p1)
    display: flex
    justify-content: flex-start
    flex-direction: column
    align-items: center
    text-align: center
    border-radius: 4px
    position: relative
    flex-shrink: 0
    trans1 width 
    span
      display: -webkit-box
      -webkit-box-orient: vertical
      overflow: hidden
      -webkit-line-clamp: 1
      position: relative
    .title
      font-size: $fs-14
      font-weight: 500
      margin-top: 1rem
      max-width: 100%
    .lazy-box
      border-radius: 64px
      corner-shape: round
      floatable-trans()
    img
      object-fit: cover
      display: block
      width: 64px
      height: 64px
// transform
.users-posts-wrap .user-post-card
  &:hover
    .post-panel
      .desc
        &:before
          color: var(--accent)
          transform: scale(1.2) translateX(-4px)
  .card-link:hover
    .lazy-box
      transform: scale(1.2) rotate(8deg)
      box-shadow: $boxshadow-card-float
