.md-text
  u
    text-decoration: none
    border-bottom: 2px solid $color-hover
  emp
    width: fit-content
    text-decoration: none
    border-bottom: 4px dotted $color-hover
  wavy
    text-decoration: underline wavy $color-hover
  del
    color: var(--text-p3)
    text-decoration: line-through var(--text-p3)
  kbd
    border-radius: 4px
    border: 1px solid #d2d2d2
    border-bottom-width: 2px
    background: var(--card)
    padding: 2px 4px 1px 4px
    font-family: $ff-code
    font-weight: 700
  psw
    color: transparent
    background: #a1a1a1
    border-radius: 2px
    trans1 background
    margin: auto 2px
    &:hover
      color: inherit
      background: none
  sup,sub
    color: var(--theme)
    line-height: 1
    font-weight: 700
    font-family: $ff-code
  h1,h2,h3,h4
    sup,sub
      font-size: .85rem
