.md-text .tag-plugin.mark
  background: none
  color: var(--text-p0)
  font-weight: 500
  text-decoration-line: underline
  text-decoration-color: var(--theme-mark)
  text-decoration-thickness: 8px
  text-underline-offset: -4px
  text-decoration-skip-ink: none
  .mark-tip
    display: inline-flex
    align-items: center
    padding: 0 .5em
    border: 1px solid var(--theme-border)
    border-radius: 100px
    background: var(--theme-block)
    color: var(--text-p0)
    font-size: .75em
    font-weight: 500
    vertical-align: .08em
