.tag-plugin.video
  line-height: 0
  margin: auto
  video, iframe
    border-radius: $border-card
    box-shadow: $boxshadow-card-float
    z-index 1
    background: var(--block)
    width: 100%
    height: 100%
    margin: 0