.tag-plugin.note, .tag-plugin.folding
  blockquote
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    background: none 
    padding-top: 0
    padding-bottom: 0
  table:not([class])
    th
      background: var(--block-hover)
    td,th
      border-color: var(--block-border)

