<% function layoutCategoriesDiv() { var el='' ; if (site.categories===undefined || site.categories.length===0) { return
    el; } var opts=Object.assign({}, item); delete opts['title']; delete opts['layout']; opts.class='category ' ;
    el+=`<widget class="widget-wrapper${scrollreveal(' ')} categories-widget">`;

    if (item.title) {
    el += '<div class="widget-header categories-header dis-select">';
        el += '<span class="name">' + item.title + '</span>';
        el += '</div>';
    }

    el += '<div class="widget-body">';
        // Generate categories list
        site.categories.each(function(category) {
        el += `<div class="${opts.class}">`;
            el += `<svg class="category-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round">
                <path d="M18 10h-5" opacity=".5" />
                <path d="M10 3h6.5c.464 0 .697 0 .892.026a3 3 0 0 1 2.582 2.582c.026.195.026.428.026.892"
                    opacity=".5" />
                <path
                    d="M2 6.95c0-.883 0-1.324.07-1.692A4 4 0 0 1 5.257 2.07C5.626 2 6.068 2 6.95 2c.386 0 .58 0 .766.017a4 4 0 0 1 2.18.904c.144.119.28.255.554.529L11 4c.816.816 1.224 1.224 1.712 1.495a4 4 0 0 0 .848.352C14.098 6 14.675 6 15.828 6h.374c2.632 0 3.949 0 4.804.77c.079.07.154.145.224.224c.77.855.77 2.172.77 4.804V14c0 3.771 0 5.657-1.172 6.828C19.657 22 17.771 22 14 22h-4c-3.771 0-5.657 0-6.828-1.172C2 19.657 2 17.771 2 14z" />
            </svg>`;
            el += `<a href="${url_for(category.path)}">${category.name} (${category.length})</a>`;
            el += `</div>`;
        });
        el += '</div>';
    el += '</widget>'; // Close widget-wrapper
    return el;
    }
    %>
    <%- layoutCategoriesDiv() %>
