<%
var btns = [];
btns.push({
  key: 'followers',
  desc: 'followers',
  tab: 'followers'
});
btns.push({
  key: 'following',
  desc: 'following',
  tab: 'following'
});
btns.push({
  key: 'public_repos',
  desc: 'repos',
  tab: 'repositories'
});

function layoutDiv() {
  var el = '';
  if (item.username == undefined || item.username.length == 0) {
    return el;
  }
  if (item.follow == null) {
    item.follow = true;
  }

  el += `<widget class="widget-wrapper${scrollreveal(' ')} user-card ghuser">`
  // header
  if (item.header) {
    el += `<div class="widget-header">`
      el += `<a class="gh-url" href="https://github.com/${item.username}">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from TDesign Icons by TDesign - https://github.com/Tencent/tdesign-icons/blob/main/LICENSE --><path fill="currentColor" d="M12 .999c-6.074 0-11 5.05-11 11.278c0 4.983 3.152 9.21 7.523 10.702c.55.104.727-.246.727-.543v-2.1c-3.06.683-3.697-1.33-3.697-1.33c-.5-1.304-1.222-1.65-1.222-1.65c-.998-.7.076-.686.076-.686c1.105.08 1.686 1.163 1.686 1.163c.98 1.724 2.573 1.226 3.201.937c.098-.728.383-1.226.698-1.508c-2.442-.286-5.01-1.253-5.01-5.574c0-1.232.429-2.237 1.132-3.027c-.114-.285-.49-1.432.107-2.985c0 0 .924-.303 3.026 1.156c.877-.25 1.818-.375 2.753-.38c.935.005 1.876.13 2.755.38c2.1-1.459 3.023-1.156 3.023-1.156c.598 1.554.222 2.701.108 2.985c.706.79 1.132 1.796 1.132 3.027c0 4.332-2.573 5.286-5.022 5.565c.394.35.754 1.036.754 2.088v3.095c0 .3.176.652.734.542C19.852 21.484 23 17.258 23 12.277C23 6.048 18.075.999 12 .999"/></svg>
        <span>github/${item.username}</span>
        </a>`
    el += `</div>`
  }
  // body
  el += '<div class="widget-body data-service ds-ghinfo" data-api="https://' + theme.api_host.ghapi + '/users/' + item.username + '">';
    if (item.avatar) {
      el += '<div class="avatar" ><img no-lazy type="img" id="avatar_url" src="' + config.avatar + '"></div>';
    }
    // username
    el += '<p class="username" type="text" id="name">&nbsp;</p>';
    el += '<p class="bio" type="text" id="bio">&nbsp;</p>';

    el += '<div class="buttons">';
      btns.forEach((btn, i) => {
        el += '<a class="btn" href="https://github.com/' + item.username + '?tab=' + btn.tab + '">';
        el += '<span class="title" type="text" id="' + btn.key + '">0</span>';
        el += '<span class="desc">' + btn.desc + '</span>';
        el += '</a>';
      });
    el += '</div>';
    // follow
    if (item.follow) {
      el += '<a class="follow" href="https://github.com/' + item.username + '">';
      el += icon('github:logo')
      el += 'Follow';
      el += '</a>';
    }
  el += '</div>';
  el += '</widget>';
  return el;
}
%>
<%- layoutDiv() %>
