<%
function layoutDiv() {
  var el = '';
  el += `<widget class="widget-wrapper${scrollreveal(' ')} linklist">`
  if (item.title?.length > 0) {
    el += '<div class="widget-header dis-select">';
    el += '<span class="name">' + item.title + '</span>';
    el += '</div>';
  }
  el += '<div class="widget-body fs14">';
  el += partial('components/linklist', {item: item})
  el += '</div>';
  el += '</widget>';
  return el;
}
%>
<%- layoutDiv() %>
