<%
function layoutDiv() {
  var el = '<widget class="widget-wrapper post-list">';
  // header
  el += '<div class="widget-header cap dis-select">';
  el += '<span class="name">' + __("meta.recent_update") + '</span>';
  if (item.rss) {
    el += '<a class="cap-action" id="rss" title="Subscribe" href="' + item.rss + '">';
    el += '<svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8938"><path d="M800.966 947.251c0-404.522-320.872-732.448-716.69-732.448V62.785c477.972 0 865.44 395.987 865.44 884.466h-148.75z m-162.273 0h-148.74c0-228.98-181.628-414.598-405.678-414.598v-152.01c306.205 0 554.418 253.68 554.418 566.608z m-446.24-221.12c59.748 0 108.189 49.503 108.189 110.557 0 61.063-48.44 110.563-108.188 110.563-59.747 0-108.18-49.5-108.18-110.563 0-61.054 48.433-110.556 108.18-110.556z" p-id="8939"></path></svg>';
    el += '</a>';
  }
  el += '</div>';
  // body
  var arr = [];
  if (page.menu_id == 'wiki') {
    arr = theme.wiki.all_pages.filter( p => {
      if (p.wiki) {
        let proj = theme.wiki.tree[p.wiki];
        return proj?.index != false;
      }
      return false
    })
    arr = arr.sort((p1, p2) => p1.updated > p2.updated ? -1 : 1)
  } else {
    arr = site.posts.filter( p => p.title && p.title.length > 0)
    arr = arr.sort("updated", -1)
  }
  el += '<div class="widget-body fs14">';
  arr.length = item.limit
  arr.forEach(post => {
    if (!post) { return }
    const isActive = post.path == page.path
    el += `<a class="item title${post.path == page.path ? ' active' : ''}" href="${url_for(post.link || post.path)}">`
    el += '<span class="title">'
    if (post.layout == 'wiki') {
      let proj = theme.wiki.tree[post.wiki];
      let name = proj?.name || post?.wiki;
      if (name) {
        el += '<strong>' + name + '</strong>' + '<span class="dot"></span>';
      }
    }
    el += (post.title || post.seo_title || post.wiki) + '</span>';
    if (isActive) {
      el += `<svg t="1705415018387" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="14793" width="200" height="200"><path d="M256 896a42.666667 42.666667 0 0 1-20.906667-5.546667A42.666667 42.666667 0 0 1 213.333333 853.333333V227.413333A97.28 97.28 0 0 1 307.2 128h409.6A97.28 97.28 0 0 1 810.666667 227.413333V853.333333a42.666667 42.666667 0 0 1-21.333334 36.693334 42.666667 42.666667 0 0 1-42.666666 0l-241.92-136.96-227.413334 136.533333A42.666667 42.666667 0 0 1 256 896z" p-id="14794"></path></svg>`
    }
    el += '</a>';
    el += '';
  });
  el += '</div>';
  el += '</widget>';
  return el;
}
%>
<%- layoutDiv() %>
