<%
function layoutDiv() {
  var el = '';
  el += '<div id="waline_container" class="waline_thread"';
  let cfg = {};
  if (page.comment_id) {
    cfg['comment_id'] = page.comment_id;
  }
  for (let key of Object.keys(cfg)) {
    if (cfg[key]) {
      el += ' ' + key + '="' + cfg[key] + '"';
    }
  }
  el += `>${icon('default:loading')}</div>`
  return el;
}
%>

<%- layoutDiv() %>
