@require('_defines/base')
@require('_defines/const')

// 通用主题色
$color-theme = #1BCDFC
$color-link = #2196f3
$color-button = #1BCDFC
$color-hover = #ff5722
$color-inner = #fff
$color-inlinecode = #D56D28
$color-cat = #FF7844
$color-cat-hover = darken($color-cat, 20)

// 浅色页面
$c-site-bg-light = #f8f8f8
$c-block-light = #f2f2f2
$c-title-light = #111
$c-text-light = #333
$c-card-light = white

// 深色页面
$c-site-bg-dark = black
$c-block-dark = #111
$c-title-dark = #fff
$c-text-dark = #fff
$c-card-dark = #333



// @font-face
//   font-family: 'Dosis'
//   src: url('https://cdn.jsdelivr.net/gh/volantis-x/cdn-fonts@20.5.30/Dosis/Dosis-Medium.ttf')
//   font-weight: normal
//   font-style: normal

$ff-body = Dosis, -apple-system, "Helvetica Neue", Helvetica, Arial, "WenQuanYi Micro Hei", "Microsoft Yahei", Menlo, Monaco, monospace, courier, sans-serif
$ff-code = Menlo, Monaco, monospace, courier, sans-serif

$ff-logo = $ff-body

// font size
$fs-root = 16px
$fs-h1   = 2rem   // 32px
$fs-h2   = 1.625rem  // 26px
$fs-h3   = 1.375rem  // 22px
$fs-h4   = 1.125rem  // 18px
$fs-h5   = 1rem      // 16px
$fs-h6   = 1rem      // 16px

$fsh2 = 1.5rem // 24px
$fs15 = .9375rem  // 15px
$fs14 = .875rem   // 14px
$fs13 = .8125rem   // 13px
$fs-code = .8125rem  // 13px
$fs12 = .75rem   // 13px
$fs-footnote = .75rem  // the smallest (12px)


// site layout
$sidebar = 280px

// max body width
$layout-max-body-width = 680px

// gap
$gap = 16px // 必须是 px

// border radius
$border-card = 12px
$border-block = 4px


// shadow
$boxshadow-card = 0 1px 2px 0px rgba(0, 0, 0, 0.1)
$boxshadow-float = 0 4px 8px 0px rgba(0, 0, 0, 0.1)
$boxshadow-card-float = 0 2px 4px 0px rgba(0, 0, 0, 0.1), 0 4px 8px 0px rgba(0, 0, 0, 0.1), 0 8px 16px 0px rgba(0, 0, 0, 0.1)
