.highlight
  position: relative

.highlight .code .copy-btn
  position: absolute
  top: 0
  right: 0
  padding: 0px 0.5rem
  font-weight: 700
  visibility: hidden
  border-bottom-left-radius: $border-bar
  border-bottom-right-radius: $border-bar
  background: var(--card)
  display: block
  cursor: pointer
  margin-right: 4px
  margin-top: 4px
  border-radius: 'calc(%s - 4px)' % $border-card

.highlight:hover
  .code:before
    visibility: hidden
  .copy-btn 
    visibility: visible

.highlight .code .copy-btn.success
  background: $c-green
  color: white
  visibility: visible

.highlight .code .copy-btn.warning
  background: $c-orange
  color: white
  visibility: visible

.md-text .folding[child=codeblock]
  .code .copy-btn
    z-index 1
    margin-right: 1rem
    border-radius: $border-bar