trans-cover($p, $t = 0.28s)
  trans2pro: transform 1s $p $t
trans-site($p)
  trans2: box-shadow transform $p
trans-user($p)
  trans3: box-shadow transform $p

if hexo-config('plugins.lazyload.transition') == 'blur'
  img.lazy
    trans-cover filter
    &:not(.loaded)
      filter blur(8px)
      -webkit-filter blur(8px)
    &.loaded,&.error
      filter none
      -webkit-filter none
  .group-body .site-card .card-link>img
    trans-site filter
  .group-body .user-card .card-link>img
    trans-user filter
else
  img.lazy
    trans-cover opacity 0.5s
    &:not(.loaded)
      opacity: 0
    &.loaded,&.error
      opacity: 1
  .group-body .site-card .card-link>img
    trans-site opacity
  .group-body .user-card .card-link>img
    trans-user opacity
