.widget-wrap#repo-info
  .widget-body
    .item
      margin: .25rem 0
    a
      color: var(--text-p2)
      font-weight: 500
      display: inline-flex
      align-items: center
      line-height: 1.8
      padding: 0 .5rem
      border-radius: 4px
      svg
        margin-right: .5rem
        width: 1rem
    a:hover
      color: var(--text-p1)
      background: var(--block-hover)
