.widget-wrap#repo-info
  .widget-body
    .item
      margin: 4px 0
    a
      color: var(--text-p2)
      font-weight: 500
      display: inline-flex
      align-items: center
      padding: 0.25rem .5rem
      border-radius: 4px
      font-size: $fs-13
      svg
        margin-right: .5rem
        width: 1em
        height: 1em
    a:hover
      color: var(--text-p1)
      background: var(--block-hover)
