.l_left
  display: flex
  flex-direction: column
  word-break: break-all
  text-align: justify
  height: 100vh
  .header
    margin: var(--gap-l) var(--gap-l) 0
    margin-top: "calc(2 * %s)" % var(--gap-l)
  @media screen and (min-width: $device-mobile-max)
    >.widgets:first-child>.widget-wrapper:first-child
      margin-top: "calc(2 * %s)" % var(--gap-l)
  @media screen and (max-width: $device-mobile-max)
    height: 100vh
  

.l_left[layout=wiki]
  padding-bottom: 0
  height: 100vh
  @media screen and (max-width: $device-mobile-max)
    height: 100vh
  .widgets >:last-child
    margin-bottom: 6rem


.l_left .widgets .widget-wrapper.logo-wrap.wiki
  margin-bottom: 1.5rem
  flex-direction: column
  align-items: flex-start
  a.wiki-home
    margin-bottom: 0.5rem
    color: var(--text-p1)
    svg
      margin-right: 2px
    &:hover
      color: $color-hover
      filter: unset !important

