.l_left
  display: flex
  flex-direction: column
  padding: var(--gap-l)
  padding-top: "calc(2 * %s)" % var(--gap-l)
  height: "calc(100vh - 3 * %s)" % var(--gap-l)
  @media screen and (max-width: $device-tablet)
    padding-top: "calc(1 * %s)" % var(--gap-l)
    height: "calc(100% - 2 * %s)" % var(--gap-l)

.logo-wrap
  margin: 1rem 0
  display: flex
  align-items: center
  color: var(--text-p0)
  a
    color: inherit
    display: flex
    align-items: center
  a.avatar
    display: block
    position: relative
    width: 50px
    height: 50px
    flex-shrink: 0
    border-radius: 50px
    overflow: hidden
    margin-right: 1rem
    img.avatar
      margin: 2px
      object-fit: cover
      width: "calc(100% - 2 * %s)" % @margin
      height: "calc(100% - 2 * %s)" % @margin
      border-radius: @width
    if hexo-config('style.animated_avatar.animate')
      img.bg
        trans1 opacity
        position: absolute
        opacity: 0
        z-index: -1
      @keyframes spin
        from
          transform:rotate(0deg)
        to
          transform:rotate(360deg)
    if hexo-config('style.animated_avatar.animate') == 'always'
      img.bg
        opacity: 1
        animation: spin infinite 1s
        animation-timing-function: linear
    if hexo-config('style.animated_avatar.animate') == 'auto'
      &:hover
        img.bg
          opacity: 1
          animation: spin infinite 1s
          animation-timing-function: linear



  .title
    font-size: 1.75rem
    font-weight: 900
    color: inherit
    line-height: 1;
    font-family: $ff-logo

nav.menu
  margin-top: 0
  background: var(--block-hover)
  border-radius: 6px
  display: flex
  padding: 1px
  flex-wrap: wrap
  &::-webkit-scrollbar
    display: none
  &::-webkit-scrollbar-track-piece
    background: transparent
  &::-webkit-scrollbar-thumb
    display: none
  a.nav-item
    text-overflow: ellipsis
    word-break: keep-all
    margin: 1px
    border-radius: 4px
    font-size: $fs-14
    font-weight: 500
    overflow: hidden
    padding: 0.375rem 0.75rem
    color: var(--text-p3)
    text-align: center
    &.active, &:hover
      color: var(--text-p1)
      background: var(--card)

.l_left .menu a.nav-item
  flex-grow: 1

.l_left .widgets
  margin: 1rem 0
  overflow: scroll
  flex-grow: 1
  scrollbar(0, 0)
  z-index: 1
  .widget-wrap
    margin: 1rem 0 2rem 0
    .widget-header
      display: flex
      color: var(--text-meta)
      justify-content: space-between
      align-items: center
      font-weight: 500
      position: sticky
      position: -webkit-sticky
      top: -2px
      background: var(--site-bg)
      padding: 2px 0
      z-index 1
      .cap-action
        hover-block 4px 4px
        line-height: 0
        color: var(--text-meta)
        trans2: color background
        .icon
          fill: var(--text-meta)
        &:hover
          color: $color-hover
          .icon
            fill: $color-hover

    .widget-body
      margin: 0.5rem 0
      color: var(--text-p2)
      p
        margin-top: 0.5em
        margin-bottom: 0.5em
        >a:hover
          text-decoration: underline
