.l_left[layout='wiki'] .widget-wrap#toc
  margin-top: 0
  .widget-body
    margin-top: 0

// 未激活的分页链接
.l_left[layout='wiki'] .widget-wrap#toc .doc-tree
  border-radius: 4px
  margin: 4px 0
  background: var(--block)
  overflow: hidden
  border: 1px solid var(--block-border)
  a.doc-tree-link
    color: var(--text-p2)
    padding: 0.5rem
    display: block
    font-size: $fs-12
    font-weight: 500
    position: relative
    &:after
      position: absolute
      right: .5rem
    &.active
      color: var(--text-p1)
    &:hover
      background: var(--block-hover)
      &:after
        content: '+'


// 当前分页链接
.l_left[layout='wiki'] .widget-wrap#toc .doc-tree.active
  a.doc-tree-link
    background: var(--block)
    border-bottom: 1px solid var(--block-border)
    &:hover
      background: var(--block-hover)
      &:after
        content: ''

  >.toc
    padding: 4px
    background: var(--card)
    a.toc-link:hover
      background: var(--block)
