.widget-wrap#toc
  .widget-body+.widget-header
    margin-top: 1rem

.widget-wrap.multi#toc .widget-header
  color: var(--text-p1)
  font-size: $fs-14


// 其它分页链接
.widget-wrap.multi#toc .doc-tree
  border-radius: $border-block
  background: var(--block)
  overflow: hidden
  border: 1px solid var(--block-border)
  a.doc-tree-link
    color: var(--text-p2)
    padding: 0.5rem
    display: block
    font-size: $fs-12
    font-weight: 500
    position: relative
    &:after
      position: absolute
      right: .5rem
    &.active
      color: var(--text-p1)
      &:only-child
        background: var(--card)
    &:hover
      background: var(--block-hover)
      &:after
        content: '+'


// 当前分页链接
.widget-wrap.multi#toc .doc-tree.active
  a.doc-tree-link
    background: var(--block)
    font-weight: 700
    &:not(:only-child)
      border-bottom: 1px solid var(--block-border)
    &:hover:after
      content: none
  >.toc
    padding: 4px
    background: var(--card)
    a.toc-link:before
      left: -2px
      width: 4px
    a.toc-link:hover
      background: var(--block)
