<%
function layoutDiv() {
  var prev,next;
  var title = __('meta.read_next');
  var title_prev = __('meta.read_prev');
  if (page.layout == 'post') {
    prev = page.prev;
    next = page.next;
  } else if (page.layout == 'wiki' && page.wiki && page.wiki.length > 0) {
    var wikis = [];
    wikis = site.pages.filter(function (p) {
      if (p.layout == 'wiki' && p.wiki && p.wiki == page.wiki) {
        if (p.order == undefined) {
          p.order = 0;
        }
        return true;
      } else {
        return false;
      }
    }).sort('order');
    page.order = page.order || 0;
    wikis.forEach((p, i) => {
      if (p.order < page.order) {
        if (prev == undefined || p.order > prev.order) {
          prev = p;
        }
      } else if (p.order > page.order) {
        if (next == undefined || p.order < next.order) {
          next = p;
        }
      }
    });
  }
  let el = '';
  if (prev || next) {
    el += '<div class="related-wrap" id="read-next">';
    el += '<section class="header cap theme">';
    el += '<span>' + title + '</span>';
    el += '</section>';
    el += '<section class="body">';
    if (next) {
      el += '<div class="post-title h2">';
      el += '<a href="' + url_for(next.path) + '">';
      el += next.title || next.seo_title || next.wiki;
      el += '</a>';
      el += '</div>';
    }
    if (prev) {
      el += '<div class="post-title fs14">';
      el += '<a href="' + url_for(prev.path) + '">';
      el += title_prev + __('symbol.colon');
      el += prev.title || prev.seo_title || prev.wiki;
      el += '</a>';
      el += '</div>';
    }
    el += '</section>';
    el += '</div>';
  }
  return el;
}
%>
<%- layoutDiv(); %>
