<%
function layoutDiv() {
  if (theme.article.related_posts.enable) {
    var el = '';
    el += `<div class="related-wrap${scrollreveal(' ')}" id="related-posts">`
    el += popular_posts_wrapper({
      title: theme.article.related_posts.title || __('meta.related_posts'),
      json: popular_posts_json({ maxCount: theme.article.related_posts.max_count , ulClass: 'related-posts' , PPMixingRate: 0.2 , isImage: true , isExcerpt: true} , page )
    });
    el += '</div>';
    return el;
  }
  return;
}
%>
<%- layoutDiv() %>
