<%# 笔记的所属标签 %>
<% if (page.tags) { %>
  <div class="tag-list">
    <% for (const t of page.tags) { %>
      <% const tag = notebook.tagTree.get(t.toLowerCase()) %>
      <a class="tag" href="<%= url_for(tag.path) %>"><%= tag.name %></a>
    <% } %>
  </div>
<% } %>
