.article-footer
  margin: 2rem 1rem 1rem
  padding: 1rem
  background: var(--block)
  border-radius: $border-card-l
  border: 1px solid var(--block-border)
  font-size: $fs-15
  line-height: 1.6
  color: var(--text-p1)
  &:empty
    display: none
  .header
    font-weight: 500
    font-size: $fsh5
  .body
    --fsp: $fsp2
    >.link
      margin: 0
      height: 0
      opacity 0
    p
      color: var(--text-p2)
      margin: 0.5rem 0
      a
        font-weight: unset
    ul
      margin: 0
      overflow: hidden
      padding-left: 1rem
      li
        font-size: var(--fsp)
    .post-title
      margin: 0
      line-height: 1.2
      word-break: break-all
      p
        --fsp: $fsp2
  section+section
    margin-top: 1rem
    padding-top: 1rem
    border-top: 1px solid var(--block-border)

.article-footer .social-wrap
  grid-gap: 0.5rem 2rem
  margin: 1rem 0 0.5rem
  grid-template-columns: repeat(auto-fill, 20px);
  a.social
    background: none
    border-radius: 4px
    padding: 0

.article-footer .qrcode
  width: 128px
  padding: 4px
  background: white
  border-radius: 4px
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.1), 0 0 32px 0px rgba(0, 0, 0, 0.1)
  overflow: hidden
  trans1 all
  height: 0
  margin: 0 auto
  transform: scale(0.01)
  img
    object-fit: contain

.article-footer .qrcode.display
  margin: 2rem auto 1rem
  height: 128px !important
  opacity: 1 !important
  transform: scale(1)
