.page-footer
  margin: 4rem 1rem 3rem
  color: var(--text-p2)
  a
    color: var(--text-p2)
    border-radius: 4px
    transition: background 0.2s ease-out
    &:hover
      color: var(--text)
      background: var(--block-border)

.page-footer .sitemap
  margin: .5rem -4px
  grid-gap: 1rem 1rem
  scrollbar(0, 0)
  column-count: 4

.page-footer .sitemap .sitemap-group
  break-inside: avoid
  display: flex
  flex-direction: column
  align-items: flex-start
  padding-bottom: 1rem
  >span,>a
    text-decoration: none
    padding: 4px
  >span
    font-weight: 500
    color: var(--text-p1)
    margin: 4px 0


.page-footer .text
  margin-top: .5rem
  p
    margin: 4px 0
    line-height: 1.5
  a:not([class])
    font-weight: 500