.navbar
  padding: 0 1rem
  z-index: 8
  top: 8px
  overflow: scroll visible
  scrollbar(0, 0)
  if hexo-config('style.site') && hexo-config('style.site.background-image')
    position inherit
    background: none
  else 
    position: sticky
    position: -webkit-sticky

.navbar nav
  display: inline-flex
  font-size: $fs-14
  position: relative
  &:before,&:after
    position: absolute
    pointer-events: none
    content: ''
    --insetX: 0
    --insetY: 0
    left: var(--insetX)
    right: var(--insetX)
    top: var(--insetY)
    bottom: var(--insetY)
    border-radius: 64px
  &:before
    background: var(--alpha50)
    filter: blur(4px)
    --blur-px: 16px
    --blur-sat: 300%
    backdrop-filter: saturate(var(--blur-sat)) blur(var(--blur-px))
    mask: linear-gradient(white, var(--alpha50), var(--alpha50), var(--alpha50), white)
    trans1 all
  &:after
    background: var(--alpha20)
  >p
    margin: 0
  a
    padding: 2px 0.75rem
    if hexo-config('style.site') && hexo-config('style.site.background-image')
      margin: 8px 0.25rem 8px 0
    else
      margin: 0.25rem
    line-height: 2
    color: var(--text-p1)
    border-radius: 32px
    font-weight: 500
    white-space: nowrap
    position: relative
    z-index: 1
    trans1 all
    &:hover
      background: var(--alpha100)
    &.active, &:hover
      color: var(--text)
    &.active
      background: var(--alpha50)
      box-shadow: $boxshadow-button
      cursor default
      pointer-events: none
      backdrop-filter: saturate(300%) blur(8px)
    &.active:after
      content: ''
  a+a
    margin-left: 4px

@media screen and (max-width: $device-mobile-max)
  .navbar.top
    margin-top: 0
    padding-left: 0
    padding-right: 0
    nav
      a:first-child
        margin-left: 1rem
      a:last-child
        margin-right: 1rem
