// 文本区域
.md-text
  max-width: 100%
  padding: 1rem
  color: var(--text-p1)
  line-height: 1.6
  word-break: break-word

// 摘要
.md-text.excerpt
  p
    font-size: $fs-14
    margin: 1em 0

// 正文区域
.md-text.content
  position: relative
  padding-top: 0
  padding-bottom: 2rem
  overflow: hidden

.l_body[text-indent] .md-text.content
  // 应用缩进效果
  p:not([class])
    text-indent: 'calc(%s * 2)' % var(--fsp)
    text-align: justify
    a
      text-indent: 0
  ol,ul
    margin-left: 0.5em
  h1,h2,h3,h4,h5,h6
    text-align: center
    >a:first-child
      display: none
  h2
    margin: 2em 0 1.5em
  // 取消缩进效果
  blockquote, .poetry, .okr, .timeline, li, .article-footer
    p:not([class])
      text-indent: 0
      text-align: convert(hexo-config('style.text-align'))

.md-text
  ul:not(:last-child),
  ol:not(:last-child)
    padding-bottom: .5rem
    margin: 0
  blockquote,ul,ol
    p,ul,ol
      --fsp: $fsp1
      font-size: var(--fsp)
      line-height: 1.5
      code 
        font-size: inherit
        padding: 0
        background: none
  p,blockquote,.tag-plugin,ul,ol,.highlight,table
    *
      --gap-p: var(--gap-p-compact)
  p,ul,ol
    margin-top: 'calc(%s - 4px)' % var(--gap-p)
    margin-bottom: 'calc(%s - 4px)' % var(--gap-p)
  .tag-plugin,iframe
    margin-top: var(--gap-p)
    margin-bottom: var(--gap-p)
  iframe
    display: block

// titles
.md-text.content
  h1,h2,h3,h4,h5,h6
    color: var(--text)
    line-height: 1.8
    >a:first-child
      background: $color-theme
      border-radius: 2px
      margin-right: 8px
      trans1 background
      &:hover
        background: $color-hover
      &:before
        content: ''
        color: white
        font-weight: 700
        padding: 0 2px
        font-size: $fs-12
  h2
    font-weight: 500
    >a:first-child:before
      content: ':'
    
  blockquote, .tag-plugin
    h2,h3,h4,h5,h6
      margin-top: 0.25em
      margin-bottom: 0.25em
      
.md-text.content:first-child .tag-plugin:first-child
  margin-top: 0

.md-text p
  font-size: var(--fsp)

.md-text pre
  -webkit-font-smoothing: auto
  -moz-osx-font-smoothing: auto
  &.mermaid
    overflow: auto

.md-text
  .center
    align-self: center

// div
.md-text>div
  margin: var(--gap-p) 0


.md-text img
  border-radius: $border-image
  margin: auto
  display: block

li:not([class]) a:not([class])
p:not([class]) a:not([class])
table a:not([class])
  position: relative
  text-decoration: none
  trans1 all
  padding: 0 2px
  border-radius: 0
  color: inherit
  background: linear-gradient(0deg,var(--theme-link),var(--theme-link)) no-repeat left 100%/100% 1px
  &:hover
    text-decoration: none
    color: var(--theme-link)
    border-radius: 4px
    background: linear-gradient(0deg,var(--theme-link-opa),var(--theme-link-opa)) no-repeat left 100%/100% 100%
  &:has(img)
    background: none
    padding: 0
    &:hover
      background: none
