<%
const content = theme.footer.content?.replace('{author.name}', (config.author || 'Anonymity'))?.replace('{theme.name}', stellar_info('name'))?.replace('{theme.version}', stellar_info('version'))?.replace('{theme.tree}', stellar_info('tree'))
function layoutDiv() {
  var el = ''
  el += `<footer class="page-footer${scrollreveal(' ')} footnote">`
  el += '<hr>'
  // sitemap
  const sitemap = theme.footer.sitemap
  if (sitemap?.length > 0) {
    var count = sitemap.length
    if ([6].includes(count)) {
      count = 3
    } else if ([7,8].includes(count)) {
      count = 4
    } else {
      count = Math.min(sitemap.length, 5)
    }
    el += `<div class="sitemap" style="column-count:${count};">`
    for (let group of sitemap) {
      let title = group.title
      let items = group.items
      if (items == undefined || items.length == 0) {
        continue
      }
      el += '<div class="sitemap-group">'
      el += '<span class="fs15">' + title + '</span>'
      items.forEach((item, i) => {
        el += '<a href="' + url_for(md_link(item)) + '">'
        el += __(md_text(item))
        el += '</a>'
      });
      el += '</div>'
    }
    el += '</div>'
  }
  // footer
  el += '<div class="text">'
  if (content) {
    el += markdown(content)
  }
  el += '</div></footer>'
  return el
}
%>
<%- layoutDiv() %>
