<%
const author = '[@' + config.author + '](' + config.url + config.root + ')';
const using = '[' + stellar_info('name') + '](' + stellar_info('tree') + ' "v' + stellar_info('version') + '")';
const source = theme.footer.source;
const more = theme.footer.more;
const websiteApprove = theme.footer.websiteApprove
function layoutDiv() {
  var el = '';
  el += '<footer class="page-footer reveal fs12">';
  el += '<hr>';
  // sitemap
  if (theme.footer.sitemap && Object.keys(theme.footer.sitemap).length > 0) {
    el += '<div class="sitemap">';
    for (let group of Object.keys(theme.footer.sitemap)) {
      let items = theme.footer.sitemap[group];
      if (items == undefined || items.length == 0) {
        continue;
      }
      el += '<div class="sitemap-group">';
      el += '<span class="fs14">' + group + '</span>';
      items.forEach((item, i) => {
        el += '<a href="' + url_for(md_link(item)) + '">';
        el += __(md_text(item));
        el += '</a>';
      });
      el += '</div>';
    }
    el += '</div>';
  }
  // footer
  el += '<div class="text">';
  if (theme.footer.license) {
    el += markdown(__('footer.license', theme.footer.license));
  }
  if (source) {
    el += markdown(__('footer.info_open_source', author, using, source));
  } else {
    el += markdown(__('footer.info_not_open_source', author, using));
  }
  if(websiteApprove) {
    el += markdown(__('footer.website_approve', websiteApprove));
  }
  if (more) {
    if ((typeof more == 'string') && more.constructor == String) {
      el += markdown(more);
    } else if ((typeof more == 'object') && more.constructor == Array) {
      more.forEach((item, i) => {
        el += markdown(item);
      });
    }
  }
  el += '</div></footer>';
  return el;
}
%>
<%- layoutDiv() %>

<script type="text/javascript">
  function siteRunTime() {
    window.setTimeout("siteRunTime()", 1000);
    X = new
      Date("07/30/2019 5:22:00");
    Y = new Date();
    T = (Y.getTime() - X.getTime());
    M = 24 * 60 * 60 * 1000;
    a = T / M;
    A = Math.floor(a);
    b = (a - A) * 24;
    B = Math.floor(b);
    c = (b - B) * 60;
    C = Math.floor((b - B) * 60);
    D = Math.floor((c - C) * 60);
    runtime.innerHTML = "本站已运行 " + A + " 天 " + B + " 小时 " + C + " 分钟 " + D + " 秒"
  }
  siteRunTime();
</script>
