.page-footer
  margin: $gap
  font-size: $fs12
  color: var(--text-p3)
  p
    margin: 4px 0
    line-height: 1.2
  a
    color: var(--text-p3)
    text-decoration: underline
    &:hover
      color: $color-hover
