.l_main
  position: relative
  padding-bottom: var(--gap-max)
  @media screen and (min-width: $device-mobile-max)
    padding-top: 8px
  header
    margin: 2rem 1rem 1rem
    .logo-wrap
      margin: 0

.l_body.index
  .l_main
    @media screen and (max-width: $device-mobile-max)
      padding-top: 0
