<%
const poster = post.poster;
var obj = {
  image: post.cover
};
if (poster) {
  obj.headline = poster.headline;
  obj.topic = poster.topic;
  obj.caption = poster.caption;
  obj.color = poster.color;
}
function div_default() {
  var el = '';
  el += '<article class="md-text">';

  // 封面
  if (obj.image || theme.article.auto_cover) {
    var cover_url;
    if (obj.image != undefined) {
      if (obj.image.includes('/')) {
        cover_url = obj.image;
      } else {
        cover_url = 'https://source.unsplash.com/1280x640/?' + obj.image;
      }
    } else {
      // 自动以 tags 作为关键词搜索封面
      if (post.tags) {
        var params = '';
        post.tags.reverse().forEach((tag, i) => {
          if (i > 0) {
            params += ',';
          }
          params += tag.name;
        });
        cover_url = 'https://source.unsplash.com/1280x640/?' + params;
      } else {
        cover_url = 'https://source.unsplash.com/random/1280x640';
      }
    }
    if (cover_url) {
      el += '<div class="post-cover">';
      el += '<img src="' + cover_url + '"/>';
      el += '</div>';
    }
  }

  // 标题
  el += '<h2 class="post-title">';
  el += post.title ? post.title : date(post.date, config.date_format);
  el += '</h2>';

  // 摘要
  el += '<div class="excerpt';
  if (theme.plugins.heti?.enable) {
    el += ' heti';
  }
  el += '">';
  el += '<p>';
  if (post.excerpt) {
    el += strip_html(post.excerpt);
  } else if (post.description) {
    el += post.description;
  } else if (post.content && theme.article.auto_excerpt > 0) {
    el += truncate(strip_html(post.content), {length: theme.article.auto_excerpt});
  }
  el += '</p>';
  el += '</div>';

  // meta
  el += '<div class="meta cap">';
  el += '<span class="cap" id="post-meta">';
  el += icon('default:calendar')
  // time
  el += `<time datetime="${date_xml(post.date)}">${date(post.date, config.date_format)}</time>`
  el += '</span>';
  // cat
  if (post.categories && post.categories.length > 0) {
    if (post.layout === 'post' && post.categories && post.categories.length > 0) {
      var cats = [];
      if (post.categories) {
        post.categories.forEach((cat, i) => {
          cats.push(cat.name);
        });
      }
      if (cats.length > 0) {
        let cat = cats.shift();
        el += '<span class="cap breadcrumb"' + category_color(cat) + '>';
        el += icon('default:category')
        el += `<span>${cat}</span>`
        el += '</span>';
      }
    }
  }
  if (post.sticky) {
    el += `<span class="pin">${icon('default:pin')}</span>`
  }
  el += '</div>';
  el += '</article>';
  return el;
}
function div_photo() {
  var el = '';
  el += '<div class="cover">';
  el += '<img src="' + obj.image + '"/>';
  if (obj.headline || obj.topic || obj.caption) {
    el += '<div class="cover-info"';
    if (obj.color) {
      el += 'style="color:' + obj.color + '"';
    }
    if (obj.topic) {
      el += 'position="top">';
    } else {
      el += 'position="bottom">';
    }
    if (obj.topic) {
      el += '<div class="cap">' + obj.topic + '</div>';
    }
    if (obj.headline) {
      el += '<div class="title">' + obj.headline + '</div>';
    }
    if (obj.caption) {
      el += '<div class="cap">' + obj.caption + '</div>';
    }
    el += '</div>';

  }
  el += '</div>';
  return el;
}
function div() {
  if (obj.image && obj.image.length > 0 && obj.headline != undefined) {
    return div_photo();
  }
  return div_default();
}
%>
<%- div() %>
