<%
function div_default() {
  var el = '';
  el += '<article class="md">';
  // 标题
  el += '<h2 class="post-title">';
  el += (post.title || post.seo_title) ? (post.title || post.seo_title) : date(post.date, config.date_format);
  el += '</h2>';

  // 摘要
  el += '<div class="excerpt">';
  el += '<p>';
  if (post.excerpt) {
    el += strip_html(post.excerpt);
  } else if (post.description) {
    el += post.description;
  } else if (post.content && theme.article.auto_excerpt > 0) {
    el += truncate(strip_html(post.content), {length: theme.article.auto_excerpt});
  }
  el += '</p>';
  el += '</div>';

  // meta
  el += '<div class="meta cap">';
  // time
  el += '<span class="cap" id="post-meta">';
  el += __("meta.created") + '&nbsp;' + '<time datetime="' + date_xml(post.date) + '">' + date(post.date, config.date_format) + '</time>';
  el += '</span>';
  // cat
  if (post.categories && post.categories.length > 0) {
    if (post.layout === 'post' && post.categories && post.categories.length > 0) {
      var cats = [];
      if (post.categories) {
        post.categories.forEach((cat, i) => {
          cats.push(cat.name);
        });
      }
      if (cats.length > 0) {
        let cat = cats.shift();
        el += '<span class="cap breadcrumb"' + category_color(cat) + '>';
        el += cat;
        el += '</span>';
      }
    }
  }
  el += '</div>';
  if (post.pin) {
    el += '<span class="pin"><img src="https://cdn.jsdelivr.net/gh/cdn-x/placeholder@1.0.1/badge/3279dd441df8b.svg"/></span>';
  }
  el += '</article>';
  return el;
}
function div_photo() {
  var el = '';
  el += '<div class="cover">';
  el += '<img src="' + post.cover + '"/>';
  el += '<div class="meta cap">';
  el += '<span class="cap" id="post-meta">';
  el += __("meta.created") + '&nbsp;' + '<time datetime="' + date_xml(post.date) + '">' + date(post.date, config.date_format) + '</time>';
  el += '</span>';
  el += '</div>';
  el += '</div>';

  el += '<article class="md">';
  el += '<h2 class="post-title">';
  el += post.title;
  el += '</h2>';
  el += '</article>';
  return el;
}
function div() {
  if (post.cover && post.cover.length > 0) {
    return div_photo();
  }
  return div_default();
}
%>
<%- div() %>
