<%
function layoutDiv() {
  var el = '';
  el += '<article class="md-text">';
  el += `<div class="preview"><img src="${topic.icon ? topic.icon : theme.default.topic}"/></div>`
  el += '<div class="excerpt">';
  el += '<h2 class="post-title">' + (topic.title || topic.name) + '</h2>';
  if (topic.description) {
    el += '<p>' + topic.description + '</p>';
  }
  el += '</div>';
  el += '</article>';
  return el;
}
%>
<%- layoutDiv() %>
