<%
function layoutDiv() {
  var el = '';
  if (post.logo && post.logo.src) {
    el += '<div class="preview">';
    el += '<img src="' + post.logo.src + '" alt="logo"';
    if (post.logo.small) {
      el += ' height="' + post.logo.small + '"';
    }
    el += '/>';
    el += '</div>';
  }
  el += '<div class="excerpt">';
  var cat = '';
  site.pages.filter(function (p) {
    return p.layout == 'index' && p.title && p.wiki && p.wiki.includes(post.wiki)
  }).limit(1).each(function(p) {
    cat = p.title;
  });
  if (cat) {
    el += '<div class="cap breadcrumb"' + category_color(cat) + '>';
    el += '<span>' + cat + '</span>';
    el += '</div>';
  }
  el += '<h2 class="post-title">' + (post.wiki || post.title || post.seo_title) + '</h2>';
  el += '<p>' + post.description + '</p>';
  el += '</div>';
  return el;
}
%>
<%- layoutDiv() %>
