<div class='widget-wrap' id='markdown'>
  <div class='widget-header dis-select'>
    <span class='name'><%- item.title %></span>
  </div>
  <div class='widget-body'>
    <% (item.content||[]).forEach(function(row){ %>
      <%- markdown(row) %>
    <% }) %>
  </div>
</div>
