<div class='logo-wrap'>
  <% if (theme.sidebar.logo.avatar.src || config.avatar) { %>
    <a class='img' href='<%- theme.sidebar.logo.avatar.href || "/" %>'><img no-lazy src='<%- theme.sidebar.logo.avatar.src || config.avatar %>'/></a>
  <% } %>
  <a class='title' href='/'><%- theme.sidebar.logo.title || config.title %></a>
</div>
