<div class='logo-wrap'>
  <a href='/'>
    <% if (theme.sidebar.logo.avatar != false) { %>
      <div class='img'><img no-lazy src='<%- theme.sidebar.logo.avatar || config.avatar %>'/></div>
    <% } %>
    <span class='title'><%- theme.sidebar.logo.title || config.title %></span>
  </a>
</div>
