<%
var proj;
if (page.layout === 'wiki' && page.wiki) {
  proj = theme.wiki.projects[page.wiki];
}
function layoutTitle(main, url, sub) {
  var el = '';
  el += '<a class="title" href="' + url_for(url || "/") + '">';
  el += '<div class="main">' + main + '</div>';
  if (sub) {
    let arr = sub.split('|');
    if (arr.length > 1) {
      el += '<div class="sub normal cap">' + arr[0].trim() + '</div>';
      el += '<div class="sub hover cap" style="opacity:0">' + arr[1].trim() + '</div>';
    } else if (arr.length > 0) {
      el += '<div class="sub cap">' + arr[0] + '</div>';
    }
  }
  el += '</a>';
  return el;
}
function layoutDiv() {
  var el = '';
  if (page.layout == 'wiki' && proj && proj.index != false) {
    el += '<div class="logo-wrap wiki">';
    // all products
    el += '<a style="filter: grayscale(100%)" class="wiki-home cap" href="' + url_for(config.wiki_dir) + '">';
    el += '<svg aria-hidden="true" viewBox="0 0 16 16" width="1rem" height="1rem" fill="currentColor"><path fill-rule="evenodd" d="M7.78 12.53a.75.75 0 01-1.06 0L2.47 8.28a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L4.81 7h7.44a.75.75 0 010 1.5H4.81l2.97 2.97a.75.75 0 010 1.06z"></path></svg>';
    el += __('btn.all_wiki');
    el += '</a>';
    // this product
    if (proj == undefined) {
      // 如果没有项目名，则使用menu中显示的名字
      if (page.menu_id && theme.sidebar.menu[page.menu_id] && md_link(theme.sidebar.menu[page.menu_id])) {
        proj = {
          path: md_link(theme.sidebar.menu[page.menu_id]),
          wiki: __(md_text(theme.sidebar.menu[page.menu_id]))
        };
      }
    }
    if (proj != undefined) {
      let main = proj.title || proj.wiki || page.wiki || page.title;
      let url = proj.homepage.path;
      let sub = proj.subtitle;
      el += layoutTitle(main, url, sub);
    }
  } else {
    el += '<div class="logo-wrap">';
    if (md_text(theme.sidebar.logo.avatar)) {
      el += '<a class="avatar" href="' + url_for(md_link(theme.sidebar.logo.avatar) || "/") + '">';
      if (theme.style.animated_avatar.animate) {
        el += '<div class="bg" style="opacity:0;background-image:url(' + theme.style.animated_avatar.background + ');"></div>';
      }
      el += '<img no-lazy class="avatar" src="' + md_text(theme.sidebar.logo.avatar) + '">';
      el += '</a>';
    }
    let main = md_text(theme.sidebar.logo.title);
    if (main) {
      let url = md_link(theme.sidebar.logo.title);
      let sub = config.subtitle;
      el += layoutTitle(main, url, sub);
    }
  }
  el += '</div>';
  return el;
}
%>

<%- layoutDiv() %>
