<%
function layoutDiv() {
  const author = page.author
  var el = ``
  el += `<div class="banner author top">`
  if (author.banner) {
    el += `<img class="bg" src="${author.banner}">`
  }
  el += `
  <div class="content">
    <div class="top">
      <button class="back cap" onclick="window.history.back()">
        ${icon('default:goback')}
      </button>
    </div>
    <div class="bottom">
      <img class="avatar" src="${author.avatar}">
      <div class="text-area">
        <p class="text title">${author.name}</p>
        <div class="text subtitle">${author.description || ""}</div>
      </div>
    </div>
  </div>
  `
  el += `</div>`
  return el
}
%>
<%- layoutDiv() %>