<%
function layoutDiv() {
  // 作者
  var el = ''
  el += `<div id="post-meta">`
  if (page.wiki) {
    el += `<span class="created">${__("meta.updated") + __("symbol.colon")}</span>`
    el += `<time datetime="${date_xml(page.updated)}">${date(page.updated, config.date_format)}</time>`
    el += `</span>`
  } else {
    // 发布日期
    el += `<span class="created">${__("meta.created") + __("symbol.colon")}</span>`
    el += `<time datetime="${date_xml(page.date)}">${date(page.date, config.date_format)}</time>`
    el += `</span>`
    // 更新日期
    el += `<span class="updated">`
    el += `<span class="dot"></span>`
    el += `${__("meta.updated") + __("symbol.colon")}`
    el += `<time datetime="${date_xml(page.updated)}">${date(page.updated, config.date_format)}</time>`
    el += `</span>`
  }
  el += `</div>`
  return el
}
%>
<%- layoutDiv() %>