.widget-body .linklist
  display: grid
  grid-gap: 8px

.linklist .link
  border-radius: $border-bar
  color: var(--text-p2)
  min-height: 32px
  padding: 0 4px
  trans1 background
  display: flex
  justify-content: center
  align-items: center
  txt-ellipsis()
  &.active
    background: var(--alpha50)
    svg,img
      filter: unset

.linklist .link span
  padding: 0 4px
  txt-ellipsis()
.linklist .link svg, .linklist .link img
  $size = 16px
  padding: 0 2px
  &:not([class='active-icon'])
    color: $color-theme
  max-height: 18px
  width: auto
  filter: grayscale(100%) brightness(0.8) opacity(0.8)
  trans1 filter
  flex-shrink: 0

.widget-body .linklist.left
  grid-gap: 2px
.linklist.left .link
  justify-content: space-between
  padding: 0 16px
  img,svg 
    width: 1em
    height: 1em
    transform: scale(1.2)
  span 
    padding: 0 8px

.linklist .link:hover
  background: var(--alpha100)
  svg  
    filter: unset