.widget-wrapper.post-list .widget-body
  a
    font-size: $fs-14
    padding: 6px 16px
    display: block
    border-radius: $border-bar
    color: var(--text-p1)
    &:hover
      background: var(--bg-a50)
    &.active
      background: var(--bg-a50)
  a+a
    margin-top: 2px
  a  
    display: flex
    justify-content: space-between
    align-items: center
    gap: 16px
    .title
      txt-ellipsis()
    svg
      flex-shrink: 0
      width: 1.5rem
      height: 1.5rem
      &.active-icon
        width: 1rem
        height: 1rem

.l_left .widget-wrapper.post-list .widget-body a
  &:hover, &.active
    sidebar-light()
    --item-grad: url(#leftbar-active-icon-grad)
    > svg [fill="currentColor"]
      fill: var(--item-grad)
    > svg [stroke="currentColor"]
      stroke: var(--item-grad)

.widget-wrapper.post-list
  .widget-body+.widget-header
    margin-top: 28px
