.widget-wrapper.markdown
  .widget-body
    border-radius: $border-card-s
    padding: .25rem 1rem
    background: var(--bg-a50)
    >*:first-child
      margin-top: .75rem

.widget-wrapper.markdown .linklist
  margin: 1em 0
  .link
    background: var(--bg-a50)
  .link:hover
    background: var(--bg-a100)

.l_right .widget-wrapper.markdown .linklist
  .link
    background: var(--block)
  .link:hover
    background: var(--theme-a20)