.widget-wrapper.markdown
  .widget-body
    border-radius: $border-card-s
    padding: .25rem 1rem
    background: var(--alpha50)
    >*:first-child
      margin-top: .75rem

.widget-wrapper.markdown .linklist
  margin: 1em 0
  .link
    background: var(--alpha50)
  .link:hover
    background: var(--alpha100)