.widget-wrapper.tagcloud .widget-body
  border-radius: $border-card
  padding: 12px 16px
  background: var(--alpha50)
  a  
    word-break: break-word
    color: var(--text-p2)
    line-height: 1.5
    &:hover
      color: $color-hover
