.cmt-body.artalk .artalk
  margin-top: 1rem
  .atk-editor-plug-preview
    scrollbar(0, 0)
  .atk-main-editor
    border-radius: $border-card
    >.atk-header,>.atk-editor-user-wrap
      border-bottom: 1px dashed var(--block-border)
      padding: 0.5rem 1rem
    >.atk-bottom 
      padding: 8px
      .atk-plug-btn
        border-radius: 32px
        height: 2rem
        width 2rem
      .atk-send-btn
        height: 2rem
        border-radius: $border-button
        min-width: 5em
        trans1 all
        &:hover
          --at-color-main: $color-hover
        &:empty
          display: none
  .atk-list-comments-wrap>.atk-comment-wrap
    border-radius: $border-card
    background: var(--card)
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.02)
    >.atk-comment
      padding: 1rem
    &+.atk-comment-wrap
      margin-top: .5rem
  .atk-comment-children
    border-top: 1px dashed var(--block-border)
    margin-top: .5rem
  .atk-avatar
    padding: 0
  .atk-avatar img
    border-radius: 50%
    width: 36px
    height: 36px
  .atk-comment-wrap>.atk-comment>.atk-main
    margin-left: calc(36px + .5rem)
  .atk-comment>.atk-main>.atk-header .atk-item.atk-nick
    color: var(--text-p3)
    font-weight: 500

  .atk-badge-wrap .atk-badge
    border-radius: 64px
  .atk-height-limit-btn
    padding: 0.5rem 2rem
  .atk-list-read-more 
    margin-top: 2.5rem
    padding-bottom: 1.5rem
    .atk-list-read-more-inner
      padding: 1rem 2rem
      border-radius: $border-button
      height: 3rem
      width: 12rem
      margin: -1.5rem auto 0
  .atk-error-layer
    background: none

.cmt-body
  .artalk, .atk-layer-wrap, .artalk.atk-dark-mode, .atk-layer-wrap.atk-dark-mode
    --at-color-font: var(--text-p1)
    --at-color-deep: var(--text-p2)
    --at-color-sub: var(--text-p3)
    --at-color-grey: var(--text-p4)
    --at-color-meta: var(--text-p4)
    --at-color-border: var(--block-border)
    --at-color-light: var(--theme-link)
    --at-color-bg: var(--card)
    --at-color-bg-transl: var(--block-hover)
    --at-color-bg-grey: var(--block)
    --at-color-bg-grey-transl: orange
    --at-color-bg-light: rgba(29, 161, 242, 1)
    --at-color-main: $color-theme
    --at-color-red: $c-red
    --at-color-green: $c-green
    --at-color-gradient: linear-gradient(180deg, transparent, var(--card), 90%, var(--card))

.md-text .atk-comment>.atk-main>.atk-body
  overflow: visible


// override
.md-text .cmt-body.artalk .artalk
  --gap-p: 1rem
  p
    line-height: 1.5
    font-size: $fs-15
    img
      margin: var(--gap-p) auto
      border-radius: $border-image-s
  p>img[atk-emoticon]
    max-height: 1.5em
    transform: scale(1.5)
    margin: 0 2px
    vertical-align: bottom
  ul li, ol li
    font-size: $fs-14
  blockquote
    position: relative
    border-left: none
    background: none
    padding: 0.25rem 1rem
    p
      color: var(--text-p3)
  .atk-content a
    --at-color-main: var(--theme-link)