<%
var cmt = {
  service: theme.comments.service
};
if (cmt.service) {
  cmt[cmt.service] = Object.assign({}, theme.comments[cmt.service]);
}
var loadComment = false;
if (theme.comments.service && theme.comments.service.length > 0) {
  if (page.comments == undefined || page.comments != false) {
    loadComment = true;
  }
}
// 合并项目评论
const proj = theme.wiki.tree[page.wiki]
if (loadComment && (proj != null)) {
  if (proj.comments === false) {
    loadComment = false;
    page.comments = false;
  } else {
    if (proj.comment_title != undefined && page.comment_title == undefined) {
      if (['utterances', 'beaudar', 'giscus'].includes(theme.comments.service)) {
        page.comment_title = proj.comment_title;
      }
    }
    if (proj.comments && proj.comments.service) {
      cmt = proj.comments;
      let s = proj.comments.service;
      cmt[s] = Object.assign({}, theme.comments[s], proj.comments[s]);
    }
  }
}
if (cmt.service && page[cmt.service]) {
  Object.assign(cmt[cmt.service], page[cmt.service]);
}
if (loadComment) {
  if (page.comments != undefined && page.comments.load_button != undefined) {
    cmt.load_button = page.comments.load_button;
  } else if (proj != null && proj.comments != undefined && proj.comments.load_button != undefined) {
    cmt.load_button = proj.comments.load_button;
  } else if (theme.comments != undefined && theme.comments.load_button != undefined) {
    cmt.load_button = theme.comments.load_button;
  }
  
  if (cmt.load_button != true) {
    cmt.load_button = false;
  }
}

page.cmt = cmt;
%>
<% if (loadComment) { %>
  <div class="related-wrap md-text<%- scrollreveal(' ') %>" id="comments" <% if (page.cmt.load_button) { %>style="display:none"<% } %>>
    <section class='header cmt-title cap theme'>
      <%- markdown(page.comment_title || theme.comments.comment_title) %>
    </section>
    <section class='body cmt-body <%- cmt.service %>'>
      <%- partial(cmt.service + '/layout') %>
    </section>
  </div>
  <% if (page.cmt.load_button) { %>
    <button type="button" onclick="appear_comment()" id="comment-load-button">
      <svg role="img" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 24 24" aria-labelledby="chatIconTitle" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill="none"> <path d="M8.82388455,18.5880577 L4,21 L4.65322944,16.4273939 C3.00629211,15.0013 2,13.0946628 2,11 C2,6.581722 6.4771525,3 12,3 C17.5228475,3 22,6.581722 22,11 C22,15.418278 17.5228475,19 12,19 C10.8897425,19 9.82174472,18.8552518 8.82388455,18.5880577 Z"/> </svg>
      <p>
        加载聊天框
      </p>
    </button>
  <% } %>
<% } %>
