.tag-plugin.about
  background: var(--block)
  border-radius: $border-card
  padding: 2rem
  .about-header
    display flex
    justify-content: center
    flex-wrap: wrap
    margin: 1.5rem 0 3rem
    img
      object-fit: contain
    >img
      margin: auto 0
    >p
      font-size: $fs-12
      font-weight: 500
      color: var(--text-p3)
      padding-top: 0.75rem
      strong:first-child
        font-size: 3rem
        font-weight: 700
        color: var(--text-p1)
        margin-right: 0.75rem
    .avatar
      display: inline-flex
      margin: 0 1rem
  .about-body
    >p
      line-height: 1.5
    .tag-plugin.navbar:last-child
      text-align: center
      nav.cap
        margin-top: 1rem
        background: var(--card)
        box-shadow: $boxshadow-button
        a
          color: var(--text-p2)
          &:hover
            background: var(--block)
          &.active 
            background: var(--block)
            box-shadow: none
            color: var(--text-p1)
  .about-header+.about-body
    margin-top: 1.5rem

@media screen and (max-width: $device-mobile)
  .tag-plugin.about
    padding: 1.5rem 1rem
    .about-header
      margin: 2.5rem 0 3rem
      p
        width 100%
