.tag-plugin.about
  background: var(--block)
  border-radius: $border-block
  padding: 2rem
  .about-header
    display flex
    flex-direction: row-reverse
    justify-content: space-between
    flex-wrap: wrap
    img
      object-fit: contain
    >img
      margin: auto 0
    >p
      font-size: $fs-12
      font-weight: 500
      color: var(--text-p3)
      padding-top: 0.75rem
      strong:first-child
        font-size: 3rem
        font-weight: 700
        color: var(--text-p1)
        margin-right: 0.75rem
    .avatar
      display: inline-flex
      margin: 0 1rem
  .about-body
    >p
      line-height: 1.5
    .tag-plugin.navbar:last-child
      nav.cap
        margin-top: 1rem
        a
          margin: 0
          color: $color-link
          background: var(--block-hover)
          &.active
            background: none
          &:hover
            color: $color-hover
            background: var(--block-border)
        a+a
          margin-left: .5rem
  .about-header+.about-body
    margin-top: 1.5rem

@media screen and (max-width: $device-mobile)
  .tag-plugin.about
    padding: 1rem
    .about-header
      flex-direction: column
      .avatar
        margin: 1rem auto
      p
        width 100%
