.tag-plugin
  --theme: var(--text-p1)
  --theme-border: var(--block-border)
  --theme-bg: var(--block)

.tag-plugin[color='red']
  --theme: $c-red
  --theme-border: mix($c-red, $light-card, 40)
  --theme-bg: mix($c-red, $light-card, 10)

.tag-plugin[color='orange']
  --theme: $c-orange
  --theme-border: mix($c-orange, $light-card, 40)
  --theme-bg: mix($c-orange, $light-card, 10)

.tag-plugin[color='yellow']
  --theme: $c-yellow
  --theme-border: mix($c-yellow, $light-card, 40)
  --theme-bg: mix($c-yellow, $light-card, 10)

.tag-plugin[color='green']
  --theme: $c-green
  --theme-border: mix($c-green, $light-card, 40)
  --theme-bg: mix($c-green, $light-card, 10)

.tag-plugin[color='cyan']
  --theme: $c-cyan
  --theme-border: mix($c-cyan, $light-card, 40)
  --theme-bg: mix($c-cyan, $light-card, 10)

.tag-plugin[color='blue']
  --theme: $c-blue
  --theme-border: mix($c-blue, $light-card, 40)
  --theme-bg: mix($c-blue, $light-card, 10)

.tag-plugin[color='purple']
  --theme: $c-purple
  --theme-border: mix($c-purple, $light-card, 40)
  --theme-bg: mix($c-purple, $light-card, 10)


.tag-plugin[color='light']
  --theme-bg: white


.tag-plugin[color='dark']
  --theme-bg: #444
  color: var(--card) !important

if hexo-config('style.darkmode') == 'auto'
  @media (prefers-color-scheme: dark)
    .tag-plugin[color='red']
      --theme-border: mix($c-red, $dark-card, 80)
      --theme-bg: mix($c-red, $dark-card, 10)

    .tag-plugin[color='orange']
      --theme-border: mix($c-orange, $dark-card, 80)
      --theme-bg: mix($c-orange, $dark-card, 10)

    .tag-plugin[color='yellow']
      --theme-border: mix($c-yellow, $dark-card, 80)
      --theme-bg: mix($c-yellow, $dark-card, 10)

    .tag-plugin[color='green']
      --theme-border: mix($c-green, $dark-card, 80)
      --theme-bg: mix($c-green, $dark-card, 10)

    .tag-plugin[color='cyan']
      --theme-border: mix($c-cyan, $dark-card, 80)
      --theme-bg: mix($c-cyan, $dark-card, 10)

    .tag-plugin[color='blue']
      --theme-border: mix($c-blue, $dark-card, 80)
      --theme-bg: mix($c-blue, $dark-card, 10)

    .tag-plugin[color='purple']
      --theme-border: mix($c-purple, $dark-card, 80)
      --theme-bg: mix($c-purple, $dark-card, 10)


    .tag-plugin[color='light']
      --theme-border: white
      --theme-bg: #ddd
      color: var(--site-bg) !important

    .tag-plugin[color='dark']
      --theme-border: black
      --theme-bg: #222
      color: var(--text-p1) !important
