set_text_white()
  --text-p0: white
  --text-p1: white
  --text-p2: hsl(0 0 88%)
  --text-p3: #ddd
  --text-code: white
set_text_black()
  --text-p0: black
  --text-p1: #111
  --text-p2: hsl(0 0 12%)
  --text-p3: #555
  --text-code: white

set_dynamic_color($theme)
  --theme: $theme
  --theme-bg1: hsl(hue($theme), 90, 90)
  --theme-bg2: hsl(hue($theme), 80, 95)
  --theme-border: hsl(hue($theme), 50, 80)
  --text-p0: hsl(hue($theme), 60, 16)
  --text-p1: hsl(hue($theme), 50, 24)
  --text-p2: hsl(hue($theme), 90, 24)

.tag-plugin
  --theme: var(--text-p1)
  --theme-border: var(--block-border)
  --theme-bg1: hsl(hue($color-theme), 90, 90)
  --theme-bg2: var(--block)
  &.tag
    --text-p2: hsl(hue($color-theme), 90, 24)

.tag-plugin[color='red']
  set_dynamic_color($c-red)
.tag-plugin[color='orange']
  set_dynamic_color($c-orange)
.tag-plugin[color='yellow']
  set_dynamic_color($c-yellow)
.tag-plugin[color='green']
  set_dynamic_color($c-green)
.tag-plugin[color='cyan']
  set_dynamic_color($c-cyan)
.tag-plugin[color='blue']
  set_dynamic_color($c-blue)
.tag-plugin[color='purple']
  set_dynamic_color($c-purple)

.tag-plugin[color='light']
  --theme-bg1: hsl(0 0 88%)
  --theme-bg2: white
  set_text_black()

.tag-plugin[color='dark']
  --theme-bg1: hsl(0 0 12%)
  --theme-bg2: #333
  set_text_white()

.tag-plugin[color='warning']
  --theme: $c-yellow
  --theme-border: #ffe659
  --theme-bg2: #ffe659
  --theme-link: #ff453a

.tag-plugin[color='error']
  --theme: $c-yellow
  --theme-border: #ff453a
  --theme-bg2: #ff453a
  --theme-link: #ffe659
  set_text_white()

set_darkmode_tags()
  set_dynamic_color($theme)
    --theme: $theme
    --theme-bg1: hsl(hue($theme), 80, 20)
    --theme-bg2: hsl(hue($theme), 16, 16)
    --theme-border: hsl(hue($theme), 50, 24)
    --text-p0: hsl(hue($theme), 80, 80)
    --text-p1: hsl(hue($theme), 64, 80)
    --text-p2: hsl(hue($theme), 80, 72)
  .tag-plugin.tag
    set_dynamic_color($color-theme)
  .tag-plugin[color='red']
    set_dynamic_color($c-red)
  .tag-plugin[color='orange']
    set_dynamic_color($c-orange)
  .tag-plugin[color='yellow']
    set_dynamic_color($c-yellow)
  .tag-plugin[color='green']
    set_dynamic_color($c-green)
  .tag-plugin[color='cyan']
    set_dynamic_color($c-cyan)
  .tag-plugin[color='blue']
    set_dynamic_color($c-blue)
  .tag-plugin[color='purple']
    set_dynamic_color($c-purple)
  .tag-plugin[color='light']
    --theme-border: white
    --theme-bg1: hsl(0 0 88%)
    --theme-bg2: #fff
    set_text_black()

  .tag-plugin[color='dark']
    --theme-border: black
    --theme-bg1: hsl(0 0 12%)
    --theme-bg2: #111
    set_text_white()

  .tag-plugin[color='warning'],.tag-plugin[color='light']
    set_text_black()

if hexo-config('style.darkmode') == 'auto'
  @media (prefers-color-scheme: dark)
    set_darkmode_tags()

if hexo-config('style.darkmode') == 'always'
  set_darkmode_tags()