.md-text .tag-plugin.copy
  display: flex
  justify-content: space-between
  box-sizing: border-box
  background: var(--card)
  border-radius: $border-bar
  border: 1px solid var(--block-border)
  overflow: hidden
  width: 100%

  input.copy-area
    display: inline-block
    padding: 0
    width: 100%
    color: var(--text-p2)
    line-height: 3
    text-indent: 1rem
  button.copy-btn
    margin: 0
    border-left: 1px solid var(--block-border)
    display: inline-block
    background: var(--block)
    line-height: 0
    font-size: 1rem
    padding: 0 .75rem
    color: var(--text-p2)
    &:hover
      background: var(--block-hover)
