details.folding
  display: block
  padding: 1rem
  margin: 1rem 0
  border-radius: $border-block
  font-size: $fs-14
  background: var(--theme-bg)
  border: 1px solid var(--theme-border)
  summary
    cursor: pointer
    padding: .75rem 1rem
    margin: 0 - 1rem
    border-radius: $border-block
    color: var(--text-p2)
    font-weight: 500
    position: relative
    line-height: normal
    outline: none
    >
      p,h1,h2,h3,h4,h5,h6
        display: inline
        border-bottom: none !important
    &:hover
      color: var(--text-p0)
      &:after
        position: absolute
        content: '+'
        text-align: center
        top: 50%
        transform: translateY(-50%)
        right: 1rem


details.folding[open]
  >summary
    border-bottom: 1px solid var(--theme-border)
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    color: var(--text-p1)
    margin-bottom: 0
    &:hover
      &:after
        content: '-'
  >div.body
    display: flex;
    flex-direction: column;
    padding: 1rem
    margin: 0 - 1rem
    margin-top: 0
    background: var(--card)
    border-bottom-left-radius: 'calc(%s - 1px)' % $border-block
    border-bottom-right-radius: 'calc(%s - 1px)' % $border-block
    font-size: $fs-15
    >:first-child
      margin-top: 0
    >:last-child
      margin-bottom: 0

details.folding[child=codeblock]>div.body
  padding: 0
  background: transparent
  overflow: hidden
  .highlight
    border: none
    border-radius: 0
    background: transparent
    margin: 0
    .code:before
      content: none
