.md .tag-plugin.link
  margin-top: 1em
  margin-bottom: 1em
  max-width: 360px
  @media screen and (max-width: $device-mobile-375)
    width: 100%

.md .link-card
  margin-right: 1em
  background: var(--card)
  display: inline-flex
  justify-content: space-between
  align-items: center
  cursor: pointer
  min-width 280px
  max-width: 100%
  width: 320px
  @media screen and (max-width: $device-mobile-375)
    width: 100%
  box-shadow: $boxshadow-card
  trans1 box-shadow
  border-radius: $border-widget
  &:hover
    box-shadow: $boxshadow-card-float


.md .link-card
  div.left,div.right
    pointer-events: none
  div.right
    width: 2.5rem
    height: 2.5rem
    margin: 0.75rem
    overflow: hidden
    flex-shrink: 0
  div.left
    overflow: hidden
    margin-left: 1rem
  span
    margin: 0
    display: block
    txt-ellipsis()
  span.title
    font-weight: 500
    color: var(--text-p1)
  span.url
    flex-shrink: 0
    color: var(--text-p3)

.tag-plugin.folding,.tag-plugin.tabs
  .tag-plugin.link .link-card
    background: var(--block)
