.md .tag-plugin.link
  max-width: 400px
  margin: 1em auto
  display: flex
  justify-content: center
  @media screen and (max-width: $device-mobile-425)
    width: 100%

.md .link-card
  background: var(--card)
  display: inline-flex
  justify-content: space-between
  align-items: center
  cursor: pointer
  min-width 280px
  max-width: 100%
  width: 350px
  @media screen and (max-width: $device-mobile-425)
    width: 100%
  box-shadow: $boxshadow-card
  border-radius: $border-block
  trans2: box-shadow transform
  &:hover
    box-shadow: $boxshadow-card-float
    transform: translateY(-1px)

.md .link-card.plain
  flex-direction: row
  align-items: center

.md .link-card.rich
  flex-direction: column
  align-items: stretch
  width: 400px
  text-align: justify

.md .link-card
  >.left
    overflow: hidden
    margin: 0.75rem 0 0.75rem 0.75rem
    .title
      font-size: $fs-14
    span+span 
      margin-top: 0.25rem
  >.right
    width: 2.75rem
    height: 2.75rem
    margin: 0.75rem
    overflow: hidden
    flex-shrink: 0
  >.top
    display: flex
    margin: .75rem 0.75rem .25rem
    overflow: hidden
    max-width: 'calc(100% - %s * 2)' % 1rem
    align-items: center
    .img
      line-height: 0
      height: 16px
      width: 16px
      border-radius: 16px
      margin-right: 8px
      background-repeat: no-repeat
      background-size: contain
      background-position: left center
    span
      txt-ellipsis()
      max-width: 100%
  >.bottom
    margin: 0 0.75rem 0.75rem 0.75rem
    .title
      font-size: $fs-15
      margin: 4px 0 8px 0

.md .link-card
  line-height: 1.2
  .title
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
    -webkit-line-clamp: 2
  .cap
    flex-shrink: 0
    color: var(--text-p3)
  .link
    line-height: 1.5
    opacity: .75
    txt-ellipsis()
  .desc
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
    -webkit-line-clamp: 3
  .img
    border-radius: 4px

  span
    margin: 0
    display: block
  .title
    font-weight: 500
    color: var(--text-p1)
