.md .tag.link
  margin-top: 1em
  margin-bottom: 1em
  max-width: 360px

.md .link-card
  margin-right: 1em
  background: var(--card)
  display: inline-flex
  justify-content: space-between
  align-items: center
  cursor: pointer
  min-width 280px
  max-width: 100%
  width: 320px
  box-shadow: $boxshadow-card
  transition: box-shadow
  border-radius: 8px
  &:hover
    box-shadow: $boxshadow-float, $boxshadow-card-float


.md .link-card
  div.left,div.right
    pointer-events: none
  div.right
    width: 3rem
    height: 3rem
    margin: 0.75rem
    overflow: hidden
    flex-shrink: 0
  div.left
    overflow: hidden
    margin-left: 16px
  span
    margin: 0
    display: block
    txt-ellipsis()
  span.title
    font-weight: 500
    color: var(--text-p1)
    font-size: $fs14
  span.url
    flex-shrink: 0
    color: var(--text-p3)
    font-size: $fs13

.md .link-group
  display: grid
  grid-template-columns: 1fr 1fr
  @media screen and (max-width: $device-mobile-l * 2)
    grid-template-columns: 1fr
  grid-gap: $gap
  .tag.link
    margin: 0
  .link-card
    width: 100%
