.md .tag-plugin.mark
  margin: 0 1px
  padding: 1px 2px
  border-radius: 4px
  background: var(--theme-bg)
  border: 1px solid var(--theme-border)
  color: var(--text-p0)
  &[color=dark]
    border-color: var(--theme-bg)
