.md-text .tag-plugin.mark
  padding: 0 1px
  border-radius: 2px
  background: var(--theme-bg2)
  border: 1px solid var(--theme-border)
  color: var(--text-p0)
  &[color=dark]
    border-color: var(--theme-bg2)
