.md .tag-plugin.navbar
  nav.cap
    margin: 0
    padding: 1px
    background: var(--block)
    border-radius: 6px
    a
      margin: 1px
      padding: 0.5em 0.75rem
      &:hover
        background: #fff
        color: var(--text-p1)
