.md .tag-plugin.navbar
  nav.cap
    margin: 0
    padding: 1px
    background: var(--block)
    border-radius: 6px
    display: inline-flex
    max-width: 100%
    a
      margin: 1px
      padding: 0.25em 0.75rem
      &:after
        display: none
      &:hover,&.active
        background: var(--card)
        color: var(--text-p1)
