.md div.note
  $border-block = 4px
  position: relative
  margin-top: 1rem
  margin-bottom: 1rem
  padding: 1rem
  border-radius: $border-block
  font-size: $fs-15
  background: var(--theme-bg)
  border: 1px solid var(--theme)
  color: var(--text-p1)
  div.title
    inside-box: $fs-15
    margin-bottom: 0.5rem
  div.body
    inside-box: $fs-14
