.md .tag-plugin.note
  position: relative
  margin-top: 1rem
  margin-bottom: 1rem
  padding: 0 1rem
  border-radius: $border-block
  background: var(--theme-bg)
  border: 1px solid var(--theme-border)
  color: var(--text-p1)
  >.title
    font-size: $fs-15
    line-height: 1.2
    margin-top: 1rem
  >.body
    &,p
      font-size: $fs-14
      line-height: 1.5
    margin-top: .5rem
    margin-bottom: 1rem
  >.body:only-child
    margin: 1rem 0


.md .tag-plugin.note[color]
  code
    background: none
.md .tag-plugin.note:not([color])
  .highlight
    background: var(--block-hover)
.md .tag-plugin.note[child=codeblock]
  padding: 0
  >.title, >.body:only-child
    margin-top: 0
  >.body
    margin-bottom: 0
  .highlight
    margin: 0
    border: none
    background: none

.md .tag-plugin.note[child=tabs]
  >.body
    margin: 0
    >.tabs
      margin-top: .5rem

.md .tag-plugin.note[child=iframe]
  overflow: hidden
  padding: 0
  >.body
    margin: 0
    iframe
      margin: 0

.md .tag-plugin .tag-plugin.note
  --gap-p: 1rem
