.md .tag-plugin.quot
  text-align: center
  position: relative
  align-items: center
  max-width 400px
.md .tag-plugin.quot:not(span)
  display: inline-flex
  align-self: center
  border-bottom: none
  font-weight: 700
  &:first-child
    margin-top: 1.5rem
  a.headerlink:before
    content: ''
  padding: 16px 24px 8px 24px
  @media screen and (max-width: $device-mobile)
    padding: 16px 20px 8px
  line-height: 1.2

// override
article.md.content
  .quot:not(span)
    color: var(--text-p0)
  h1.quot
    font-size: $fs-h1
    font-weight: 900
    padding: 20px 32px 12px 32px
    @media screen and (max-width: $device-mobile)
      padding: 20px 24px 12px
  h2.quot,h3.quot,h4.quot,h5.quot,h6.quot
    font-size: $fs-h3
  p.quot
    font-size: $fs-h4

// type=text
.md .tag-plugin.quot[type=text]:not(span)
  &:before,&:after
    content: ""
    position: absolute
    width: 8px
    height: 14px
  &:before
    top: 8px
    left: 0
    border-top: 6px solid $color-accent
    border-left: 6px solid $color-accent
  &:after
    right: 0
    bottom: 0
    border-right: 6px solid $color-accent
    border-bottom: 6px solid $color-accent
article.md.content h1.quot[type=text]
  &:before,&:after
    width: 12px
    height: 20px
    border-width: 8px

// type=icon
.md .tag-plugin.quot[type=icon]:not(span)
  .icon
    height: 1.5em
    display: inline-block
    color: $color-accent
    border-radius: 0
    &.prefix
      margin-left: -0.5rem
      margin-right: .5rem
    &.suffix
      margin-left: .5rem

// inline quot
.md span.tag-plugin.quot
  font-weight: 500
  &:before,&:after
    color: $color-accent
    font-weight: 900
  &:before
    content: "「"
    margin-left: -0.125em
    margin-right: 0.125em
  &:after
    content: "」"
    margin-left: 0.125em
    margin-right: -0.125em
