.md-text .tag-plugin.quot
  text-align: center
  align-items: center
  display: flex
  flex-direction: column
  
  .content
    display: flex
    align-items: center
    border-bottom: none
    font-weight: 700
    &:first-child
      margin-top: 1.5rem
    a.headerlink:before
      content: ''
    padding: 16px 24px 8px 24px
    @media screen and (max-width: $device-mobile)
      padding: 16px 20px 8px
    line-height: 1.2

.md-text .tag-plugin.quot .content
  max-width 400px
  position: relative
// override
.tag-plugin.quot
  h1
    font-size: $fs-h1
    font-weight: 900
    padding: 20px 32px 12px 32px
    @media screen and (max-width: $device-mobile)
      padding: 20px 24px 12px
  h2,h3,h4,h5,h6
    font-size: $fs-h3
  p
    font-size: $fs-h4
    color: var(--text-p0)

// type=text
.md-text .tag-plugin.quot
  .content[type=text]
    &:before,&:after
      content: ""
      position: absolute
      width: 8px
      height: 14px
    &:before
      top: 8px
      left: 0
      border-top: 6px solid $color-accent
      border-left: 6px solid $color-accent
    &:after
      right: 0
      bottom: 0
      border-right: 6px solid $color-accent
      border-bottom: 6px solid $color-accent
  h1.content[type=text]
    &:before,&:after
      width: 12px
      height: 20px
      border-width: 8px

// type=icon
.md-text .tag-plugin.quot .content[type=icon]
  .icon
    height: 1.5em
    display: inline-block
    color: $color-accent
    border-radius: 0
    &.prefix
      margin-left: -0.5rem
      margin-right: .5rem
    &.suffix
      margin-left: .5rem
