.site-card-group
  display: grid
  grid-gap: $gap $gap
  grid-template-columns: repeat(auto-fill, "calc((100% - 3 * %s) / 4)" % $gap)
  @media screen and (max-width: $device-laptop)
    grid-template-columns: repeat(auto-fill, "calc((100% - 2 * %s) / 3)" % $gap)
  @media screen and (max-width: $device-mobile)
    grid-template-columns: repeat(auto-fill, "calc((100% - 1 * %s) / 2)" % $gap)
  margin-bottom: 2rem

.site-card-group .site-card
  line-height: 1.2
  disable-select()
  color: var(--text-p1)
  .img
    width: 100%
    height 100px
    @media screen and (max-width: $device-mobile)
      height 80px
    overflow: hidden
    border-radius: $border-card * 0.5
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2)
    background: var(--color-block)
    img
      width: 100%
      height 100%
      transition: transform 2s ease
      object-fit: cover

  .info
    margin-top: $gap * 0.5
    img
      width: 32px
      height: 32px
      border-radius: 16px
      float: left
      margin-right: 8px
      margin-top: 2px
    span
      display: block
    .title
      font-weight: 600
      color: var(--text-p1)
      font-size: $fs15
      margin-top: 1px
      color: var(--color-p)
      display: -webkit-box
      -webkit-box-orient: vertical
      overflow: hidden
      -webkit-line-clamp: 1

    .desc
      font-size: $fs12
      color: var(--text-p2)
      margin-top: 2px
      word-wrap: break-word;
      color: var(--color-meta)
      display: -webkit-box
      -webkit-box-orient: vertical
      overflow: hidden
      -webkit-line-clamp: 2
  .img
    trans1 box-shadow
  &:hover
    .img
      box-shadow: $boxshadow-float, $boxshadow-card-float
    .info .title
      color: $color-hover
