.tag-plugin.split
  display: grid
  grid-gap: 16px
  grid-template-columns: repeat(auto-fill, "calc((100% - 1 * %s) / 2)" % 16px)
  >.cell
    margin: 1rem 0
  >.cell>
    p   
      line-height: 1.5
    :first-child
      margin-top: 0
    :last-child
      margin-bottom: 0
    p:first-child
      margin-top: -0.25em
    p:last-child
      margin-bottom: -0.25em
    

.tag-plugin.split
  @media screen and (max-width: $device-tablet)
    display: block

.tag-plugin.split
  &[bg]>.cell
    padding: 1rem
    border-radius: $border-card
  &[bg='block']>.cell
    background: var(--block)
  &[bg='card']>.cell
    background: var(--card)
    box-shadow: $boxshadow-card