.md-text .tag-plugin.tag
  padding: 0px 4px
  border-radius: 2px
  background: var(--theme-bg1)
  color: var(--text-p2)
  margin: 2px 0
  display: inline-block
  font-size: $fs-14
  trans2 background color
  &:hover
    background: var(--text-p2)
    color: var(--theme-bg1)
  