.tag-plugin.timeline
  position: relative
  display: block
  margin: 1rem 0
  padding-top: 1rem
  padding-bottom: 1rem
  &:before
    content: ''
    z-index: 0
    position: absolute
    background: var(--block-border)
    width: 2px
    left: 16px
    top: 1rem
    bottom: 1rem
  >svg.icon:first-child, >svg.icon:last-child
    position: absolute
    z-index: 1
    fill: var(--block-border)
    height 16px
    width: 16px
    margin-left: 9px
  >svg.icon:first-child
    margin-top: -1rem
  >svg.icon:last-child
    margin-bottom: 1rem

.tag-plugin.timenode
  position: relative
  background: var(--card)
  border: 1px solid var(--theme)
  border-radius: $border-block
  margin-top: 1rem
  margin-bottom: 1rem
  .header
    line-height: 1.2
    background: var(--theme-bg)
    border-top-left-radius: "calc(%s - 1px)" % $border-block
    border-top-right-radius: "calc(%s - 1px)" % $border-block
    border-bottom: 1px solid var(--theme)
    display: flex
    justify-content: space-between
    align-items: center
    span
      font-weight: 500
      color: var(--text-p1)
      padding: 0.75rem 16px
    a
      visibility: hidden
      margin-left: 4px
      padding: 0.4rem 8px
      margin-right: 8px
      line-height: 0
      border-radius: 4px
      color: var(--text-p1)
      &:hover
        color: $color-link
  .body
    padding: 0.5rem 1rem
    p,.highlight,ol,ul
      margin: 0.5rem 0

.tag-plugin.timenode:hover
  .header a
    visibility: visible

.tag-plugin.timeline .timenode
  --theme-bg: alpha(#888, 0.05)

.tag-plugin.timeline[order='-date'] .timenodes>.timenode:first-child
  --theme: alpha($c-blue, 0.25)
  --theme-bg: alpha($c-blue, 0.05)

.tag-plugin.timeline[order='date'] .timenodes>:last-child
  --theme: alpha($c-blue, 0.25)
  --theme-bg: alpha($c-blue, 0.05)
