.md .tag-plugin.folding .body:has(.timeline)
  background: var(--site-bg)
  
.md .tag-plugin.timeline
  position: relative
  margin-top: 0
  padding-left: 16px
  &:before
    content: ''
    position: absolute
    z-index: 0
    background: var(--block-hover)
    width: 4px
    left: 0px
    border-radius: 8px
    top: .5rem
    bottom: 0
  &:has(.loading-wrap)
    padding-left: 0
    &:before
      display: none

.md .tag-plugin.timeline .timenode
  position: relative
  display: flex
  flex-direction: column
  align-items: flex-start
  box-sizing: border-box
  max-width: 100%
  >.header, >.body
    box-sizing: border-box
    max-width: @max-width
  &[highlight] .header:before
    background: $color-theme
  &+.timenode
    margin-top: 1rem
  &:hover .header
    p
      color: var(--text-p1)
    .user-info
      background: $color-theme
      span
        color: var(--card)
    &:before
      background: $color-theme
      height: 16px
      top: 'calc(50% - 0.5 * %s)' % @height
      transform: scale(1)

.tag-plugin.timeline .timenode .header
  display: flex
  align-items: center
  position: relative
  margin: 0.25rem 0
  font-size: $fs-12
  .user-info 
    display: flex
    align-items: center
    font-size: $fs-12
    font-weight: 500
    color: var(--text-p1)
    margin-right: 4px
    line-height: 1
    border-radius: 16px
    padding-right: 6px
    trans2 color background
    img 
      background: white
      height: 16px
      border-radius: 16px
      display: inline
      margin: 0 4px 0 0
      object-fit: contain
    &:hover
      background: $color-hover
  &,p  
    font-weight: 500
    color: var(--text-p3)
    trans1 color
    line-height: 1
  p
    margin: 0 !important
    font-size: $fs-12 !important
    a
      color: inherit
      font-weight: inherit
  &:before
    content: ''
    position: absolute
    left: -16px
    width: 4px
    border-radius: 12px
    height: 4px
    top: 'calc(50% - 0.5 * %s)' % @height
    background: var(--text-meta)
    trans4 background height top transform
    transform: scale(2)


.tag-plugin.timeline .body
  background: var(--card)
  border-radius: 12px
  border-top-left-radius: 2px
  padding: 0.5rem 1rem
  margin-top: 4px
  box-shadow: $boxshadow-block
  p
    font-size: $fs-14
  &:empty
    display: none
  p,.highlight,ol,ul,.tag-plugin
    margin: .5rem 0
  .tag-plugin.copy
    width: 240px

.tag-plugin.timeline[api]
  &.stellar-fcircle-api .timenode:hover .header
    .user-info
      background: inherit
      span
        color: inherit
  a.body
    color: var(--text-p1)
    trans2: transform box-shadow
    line-height: 1.25
    padding: 0.75rem 1rem
    &:hover
      transform: translateY(-1px)
      box-shadow: $boxshadow-card-float


.tag-plugin.timeline[api] .body
  overflow: scroll
  p.title
    font-size: 1rem
    font-weight: 700
    margin: 0.5rem 0 0.75rem
    line-height: 1.25
    &:only-child 
      margin-bottom: 0.5rem
      font-weight: 500
    a 
      color: inherit
      &:hover
        color: $color-hover
  a
    &:has(img):after
      display: none
    img  
      margin: 0 auto
  img
    margin: 0.5rem auto
  pre code 
    font-size: $fs-12

.tag-plugin.timeline[api] .body .footer
  margin: 0 0 -0.5rem
  padding: 0.5rem 0 1rem
  user-select: none
  font-weight: 500
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: stretch
  position: sticky
  position: -webkit-sticky
  bottom: -0.5rem
  background: var(--card)
  span
    line-height: 1.8
  &:empty
    display: none
  .flex
    display: flex
    flex-wrap: wrap
    font-size: $fs-12
    align-items: stretch

.tag-plugin.timeline[api] .body .footer
  .item
    border-width: 1px
    border-style: solid
    margin: 2px
    border-radius: 4px
    padding: 0 0.5rem
    display: flex 
    align-items: center
    &:first-child 
      margin-left: 0
    &:last-child 
      margin-right: 0
  .reaction 
    border-color: var(--block)

.tag-plugin.timeline .body blockquote
  padding: 0 0.5rem
  box-shadow: none
  border-left: 4px solid var(--block-border)
  border-radius: 0
  display: block
  margin: 0.75rem 0
  p
    font-size: $fs-13
    margin: 0.25rem