.md .tag-plugin.folding .body:has(.timeline)
  background: var(--site-bg)
  
.md .tag-plugin.timeline
  position: relative
  margin-top: 0
  padding-left: 16px
  &:before
    content: ''
    position: absolute
    z-index: 0
    background: var(--block-hover)
    width: 4px
    left: 0px
    border-radius: 8px
    top: .5rem
    bottom: 0
  &:has(.loading-wrap)
    padding-left: 0
    &:before
      display: none

.tag-plugin.timeline .timenode
  position: relative
  display: flex
  flex-direction: column
  align-items: flex-start
  max-width: 'calc(100% - %s)' % 1rem
  >.header, >.body
    max-width: @max-width
  &[highlight] .header:before
    background: $color-theme
  &+.timenode
    margin-top: 1rem
  &:hover .header
    p
      color: var(--text-p1)
    &:before
      background: $color-theme
      height: 16px
      top: 'calc(50% - 0.5 * %s)' % @height
      transform: scale(1)

.tag-plugin.timeline .header
  display: flex
  align-items: center
  position: relative
  p
    margin: .25rem 0
    font-size: $fs-12
    font-weight: 700
    color: var(--text-p3)
    font-family: $ff-code
    trans1 color
    opacity: 0.75
    a
      color: inherit
      font-weight: inherit
  &:before
    content: ''
    position: absolute
    left: -16px
    width: 4px
    border-radius: 12px
    height: 4px
    top: 'calc(50% - 0.5 * %s)' % @height
    background: var(--text-meta)
    trans4 background height top transform
    transform: scale(2)


.tag-plugin.timeline .body
  background: var(--card)
  border-radius: 12px
  border-top-left-radius: 2px
  padding: 0.5rem 1rem
  margin-top: 4px
  box-shadow: $boxshadow-block
  &:empty
    display: none
  p,.highlight,ol,ul,.tag-plugin
    margin: .5rem 0
  .tag-plugin.copy
    width: 240px


.tag-plugin.timeline.stellar-timeline-api .body
  max-height: convert(hexo-config('tag_plugins.timeline.max-height'))
  overflow: scroll
  p
    font-size: $fs-14
  p.title 
    font-size: 1rem
    font-weight: 700
    margin: 0
    padding: 0.5rem 0 0.75rem
    line-height: 1.25
    border-bottom: 1px dashed var(--block-border)
    a 
      color: inherit
      &:hover
        color: $color-hover
  pre code 
    font-size: $fs-12

.tag-plugin.timeline.stellar-timeline-api .body .footer
  padding: 0.5rem 0 1rem
  margin-bottom: -0.5rem
  user-select: none
  font-weight: 500
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: stretch
  position: sticky
  position: -webkit-sticky
  bottom: -0.5rem
  background: var(--card)
  span
    line-height: 1.8
  &:empty
    display: none
  .flex
    display: flex
    flex-wrap: wrap
    font-size: $fs-12
    align-items: stretch

.tag-plugin.timeline.stellar-timeline-api .body .footer
  .item
    border-width: 1px
    border-style: solid
    margin: 2px
    border-radius: 4px
    padding: 0 0.5rem
    display: flex 
    align-items: center
    &:first-child 
      margin-left: 0
    &:last-child 
      margin-right: 0
  .reaction 
    border-color: var(--block)