<%
var loadComment = false;
if (theme.comments.service && theme.comments.service.length > 0) {
  if (page.comments == undefined || page.comments != false) {
    loadComment = true;
  }
}
// 合并项目评论
if (loadComment && page.layout == 'wiki' && page.wiki) {
  if (page.comment_id == undefined) {
    if (theme.comments.service == 'utterances') {
      // 使用项目名作为评论issue标题并共享评论数据
      page.comment_id = page.wiki;
    }
  }
}
%>
<% if (loadComment) { %>
  <div class='related-wrap md' id="comments">
    <div class='cmt-title cap theme'>
      <%- page.comment_title != undefined ? page.comment_title : __('meta.comment_title') %>
    </div>
    <div class='cmt-body <%- theme.comments.service %>'>
      <%- partial(theme.comments.service + '/layout') %>
    </div>
  </div>
<% } %>
