.post-list .post-card#archive
  a.post
    display: inline-flex
    align-items: baseline
    font-size: $fs14
    margin: 0.25rem 0
    font-weight: 600
    color: var(--text-p2)
    &:hover
      color: $color-hover
    time
      font-family: $ff-code
      margin-right: 1em
      flex-shrink: 0;
      opacity 0.5
