.post-list .post-card#cats
  a.cat
    display: flex
    font-size: $fs14
    &.child
      padding-left: 2rem
    font-weight: 600
    padding: 0.5rem 1rem
    border-radius: $border-block
    color: var(--text-p2)
    &:hover
      background: var(--block)
      color: $color-hover
    .badge
      opacity 0.5
      margin-left: 4px
