.post-list .post-card#tags
  a.tag
    display: inline-flex
    align-items: center
    margin: 0.25rem 0.5rem
    position: relative
    font-weight: 500
    color: var(--text-p2)
    &:hover
      color: $color-hover
    span
      margin: 0 0.25rem
    .name
      font-size: $fs14
    .badge
      opacity 0.5
      font-size: $fs12
