.post-list .post-card .meta.cap .tag
  &:before
    content: "#"
    margin-left: -2px
    margin-right: 2px
    opacity: .4

.tag-tree .tag-subtree > .tag-tree__link > .tag-switcher-wrapper
  width: 1.75rem
  height: 0.875rem
  flex-shrink: 0
  margin-left: auto
  display: flex
  justify-content: end
  align-items: center
  &:hover
    color: var(--theme)

.tag-tree .tag-subtree.is-parent > .tag-tree__link .tag-switcher
  display: inline-block
  height: 0.5rem
  width: 0.5rem
  border-width: 1px
  border-style: none solid solid none
  transform: translateX(-25%) rotate(-45deg)

.tag-tree .tag-subtree.is-parent.is-expanded > .tag-tree__link .tag-switcher
  transform: translateY(-25%) rotate(45deg)

.tag-tree .tag-subtree.is-parent > .tag-subtree
  display: none

.tag-tree .tag-subtree.is-parent.is-expanded > .tag-subtree
  display: block

.tag-tree .tag-subtree
  min-width: 0
  >.ui-collection__item
    width: 100%
