.widget-wrapper.markdown
  .widget-body
    border-radius: $border-card
    padding: 4px 16px
    background: var(--alpha50)

    a
      trans1 all
      border-bottom: 1px solid var(--text-p0)
      color: var(--text-p0)
      &:hover
        color: $color-hover
        border-bottom: 1px solid $color-hover