.widget-wrapper.recent .widget-body
  display: flex
  flex-direction: column
  align-items: flex-start
  margin-top: 0.25rem
  a
    line-height: 1.2
    font-size: $fs-13
    margin: 0.25rem 0
    .title  
      font-size: $fs-13
      color: var(--text-p2)
    &:hover
      color: $color-hover

