
.widget-wrapper.post-card .widget-body
  max-width: 100%
  .item+.item
    margin-top: 8px
  .item
    line-height: 1.2
    background: var(--alpha20)
    padding: 10px 16px
    border-radius: $border-card
    display: block
    border-left: 0
    box-sizing: border-box
  .title
    color: var(--text-p1)
    font-weight: 500
    font-size: 1rem
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
    -webkit-line-clamp: 1
    font-weight: 700
    font-size: $fs-14
  .excerpt
    color: var(--text-p3)
    font-size: $fs-12
    margin-top: 0.5rem
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
    -webkit-line-clamp: 2
  
  .item
    trans1 background
  .item.active
    background: var(--alpha50)
  .item:hover
    background: var(--alpha50)
