.widget-wrapper.timeline 
  .widget-body
    margin-top: 0.5rem
  .tag-plugin.timeline .timenode
    .header
      margin: 0.5rem 16px
      txt-ellipsis()
      .user-info
        background: var(--alpha50)
        &:hover
          background: $color-hover
          color: var(--card)
      &:before
        display: none
    &+.timenode
      margin-top: 0.75rem
    .header p
      color: var(--text-p2)
    .body
      border-radius: $border-card
      background: var(--alpha50)
      box-shadow: none

      a
        trans1 all
        border-bottom: 1px solid var(--text-p0)
        color: var(--text-p0)
        &:hover
          color: $color-hover
          border-bottom: 1px solid $color-hover
      
      