.doc-tree+.doc-tree
  margin-top: 2px

// 其它分页链接
.widget-wrapper.toc.multi .doc-tree
  border-radius: $border-bar
  overflow: hidden
  a.doc-tree-link
    color: var(--text-p1)
    padding: 0.5rem 16px
    display: flex
    justify-content: space-between
    align-items: center
    font-size: $fs-14
    font-weight: 500
    position: relative
    trans1 background
    .toc-text
      txt-ellipsis()
    .icon
      flex-shrink: 0
    &:after
      position: absolute
      right: .5rem
    &.active
      &:only-child
        background: var(--alpha100)
    &:hover
      background: var(--alpha50)


// 当前分页链接
.widget-wrapper.toc.multi .doc-tree.active
  a.doc-tree-link
    background: var(--alpha100)
    font-weight: 500
    &:hover:after
      content: none
  >.toc
    padding: 4px 10px
    border: 1px solid var(--alpha50)
    background: var(--alpha20)
    border-bottom-left-radius: $border-bar
    border-bottom-right-radius: $border-bar
    a.toc-link:before
      left: -2px
      width: 4px
    a.toc-link:hover
      background: var(--alpha100)
