.widgets 
  .loading-wrap
    margin: 0.5rem 0

.widgets
  overflow: scroll
  flex-grow: 1
  scrollbar-width: none
  scrollbar(0, 0)
  z-index: 1
  line-height: 1.2
  margin: 0 var(--gap-l)
  .widget-wrapper
    .widget-header
      padding-left: var(--gap-l)
      padding-right: var(--gap-l)
      display: flex
      justify-content: space-between
      align-items: center
      font-weight: 500
      line-height: 28px
      .item 
        display: block
      >span
        text-align: left
      &:empty
        display: none
      .cap-action
        line-height: 0
        color: var(--text-p2)
        trans2: color background
        border-radius: 4px
        padding: 6px
        margin-right: -4px
        .icon
          fill: var(--text-p2)
        &:hover
          color: $color-hover
          background: var(--alpha100)
          .icon
            fill: $color-hover

    .widget-body
      margin: 0.5rem 0
      color: var(--text-p1)
      p
        margin-top: .5em
        margin-bottom: .5em
        line-height: 1.5
    .widget-header+.widget-body
      margin-top: 0


.widget-wrapper
  display: block
  margin: 32px 0