.brand-wrap
  display: flex
  align-items: center
  overflow: hidden
  min-height: 48px

  .brand-image
    display: block
    position: relative
    width: 48px
    height: 48px
    margin-right: 1rem
    flex-shrink: 0
    background: var(--brand-image-background, transparent)
    color: inherit
    img
      display: block
      width: 100%
      height: 100%

  .brand-image--avatar
    border-radius: 50%
    corner-shape: round
    overflow: hidden
    img
      position: absolute
      inset: 2px
      z-index: 1
      width: calc(100% - 4px)
      height: calc(100% - 4px)
      border-radius: 50%
      corner-shape: round
      object-fit: cover
    .brand-image-bg
      position: absolute
      inset: 0
      background: convert(hexo-config('style.gradient.avatar'))
    if hexo-config('style.animated_avatar.animate')
      .brand-image-bg
        trans1: opacity
        opacity: 0 !important
      @keyframes spin
        from
          transform: rotate(0deg)
        to
          transform: rotate(360deg)
    if hexo-config('style.animated_avatar.animate') == 'always'
      .brand-image-bg
        opacity: 1 !important
        animation: spin infinite 4s linear
    if hexo-config('style.animated_avatar.animate') == 'auto'
      &:hover .brand-image-bg
        opacity: 1 !important
        animation: spin infinite 4s linear

  .brand-image--icon
    border-radius: $border-card-s
    overflow: hidden
    img
      object-fit: contain

  .brand-image--plain
    background: transparent
    img
      object-fit: contain

  .brand-title
    font-size: 1.5rem
    font-weight: 900
    color: inherit
    line-height: 1.2
    display: block
    position: relative
    .brand-name
      color: var(--text)
    .brand-tagline
      color: var(--text-p1)
      trans2 opacity transform
      white-space: nowrap
    .hover
      position: absolute
      bottom: 0
      transform: translateY(8px)
      overflow: visible
    &[href]:hover
      .normal
        opacity: 0
        transform: translateY(-8px)
      .hover
        transform: translateY(0)
        opacity: 1 !important

.wiki-home-wrap
  margin: 1rem var(--gap-base) .5rem

.wiki-home
  display: flex
  width: fit-content
  align-items: center
  padding: 6px 16px 6px 12px
  border-radius: 32px
  sidebar-light()
  color: var(--text-p2)
  font-size: $fs-13
  trans2 color background
  svg
    height: 1em
    width: auto
    margin-right: 0.25rem
  &:hover
    color: var(--text-p1)
    sidebar-light()

.l_left .wiki-home-wrap + .brand-header
  margin-top: 0.5rem
