.nav-area
  margin: 2rem 0
  .menu
    width: 100%
    margin: 0

.nav-area,
.widget-instance--menu
  .menu
    .ui-collection__item
      font-size: $fs-15

.site-region--leftbar .widget-instance--menu .ui-collection[data-layout='grid']
  --ui-grid-min: 0px
  &[data-variant='icon']
    .ui-collection__item
      padding-inline: 0
    .ui-collection__content
      display: none
    .ui-collection__initial
      display: block
