.l_left
  margin: calc(var(--gap-margin) * 2) var(--gap-margin)
  max-height: 'calc(%s - %s * 2 - %s)' % (100vh var(--gap-margin) $leftbar-bottom-margin)
  border-radius: $border-card-l
  .header
    margin: var(--gap-max) var(--gap-margin) 0

.l_right
  margin: calc(var(--gap-margin) * 2) 0
  border-radius: $border-card-l
@media screen and (min-width: $device-2k)
  .l_left
    margin-left: auto
    margin-right: calc(2 * var(--gap-max))
  .l_right
    margin-left: var(--gap-max)
    margin-right: auto

.l_left
  .sidebg
    pointer-events: none
    position: absolute
    --inset: 0
    top: var(--inset)
    bottom: var(--inset)
    left: var(--inset)
    right: var(--inset)
    background-position: center
    background-size: cover
    border-radius: $border-card-l
    --saturate: 300%
    --blur-px: convert(hexo-config('style.leftbar.blur-px'))
    --brightness: 100%
    if hexo-config('style.leftbar') && hexo-config('style.leftbar.background-image')
      if hexo-config('style.leftbar.blur-px')
        --inset: 32px
      background-image: convert(hexo-config('style.leftbar.background-image'))
      filter: saturate(var(--saturate)) brightness(var(--brightness)) blur(var(--blur-px))
      @media screen and (prefers-color-scheme: dark)
        --blur-px: 'calc(%s * 0.75)' % convert(hexo-config('style.leftbar.blur-px'))
        --saturate: 200%
        --brightness: 75%
    else if hexo-config('style.leftbar') && hexo-config('style.leftbar.background')
      background: convert(hexo-config('style.leftbar.background'))
    
  .leftbar-container
    height: 'calc(%s - %s * 2 - %s)' % (100vh var(--gap-margin) $leftbar-bottom-margin)
    display: flex
    flex-direction: column
    word-break: break-all
    text-align: justify
    border-radius: $border-card-l
    overflow: hidden
    >.widgets
      border-radius: $border-bar
      mask: linear-gradient(white, 90%, transparent)
      -webkit-mask: linear-gradient(white, 90%, transparent)
    >*
      z-index 1
    &:before,&:after
      position: absolute
      pointer-events: none
      content: ''
      top: 0
      bottom: 0
      left: 0
      right: 0
      border-radius: $border-card-l
    &:before
      @media screen and (min-width: $device-mobile-max)
        background: rgba(white, 0.5)
        box-shadow: inset 0 0 32px 1px rgba(white, 0.5)
        backdrop-filter: saturate(300%)
        -webkit-backdrop-filter: saturate(300%)
        mask: linear-gradient(black, rgba(black, 0.5), 70%, transparent, 90%, transparent)
        -webkit-mask: linear-gradient(black, rgba(black, 0.5), 70%, transparent, 90%, transparent)

      @media screen and (prefers-color-scheme: dark)
        background: rgba(white, 0.05)
        box-shadow: inset 0 0 32px 1px rgba(white, 0.2)

@media screen and (max-width: $device-mobile-max)
  .l_left
    overflow: hidden
    background: var(--alpha100)
    .sidebg
      --inset: 0
      --saturate: 300%
    .leftbar-container:after
      background: var(--alpha20)
